# Setup

## Import Statements

In [1]:
import requests
from requests import get,post,put
import json
import pandas as pd
import io
from io import StringIO
from IPython.display import display, HTML
import os
from os import path
import re

## Functions

In [2]:
def ISI_upload_data(file_path, url):
    file_name = os.path.basename(file_path)
    files = {
        'file': (file_name, open(file_path, mode='rb'), 'application/octet-stream')
    }
    response = put(url, files=files)
    if response.status_code == 400:
        print(json.dumps(response.json(), indent=2))
    else:
        print('Status code: ' + str(response.status_code))
        print(response.json())
        
def NYU_upload_data(url, dataset, dataset_name, dataset_description):
    dataset.seek(0,0)
    response = requests.post(
        url,
        data={
            "name": dataset_name,
            "description": dataset_description,
        },
        files={'file': dataset}
    )
    return response
        
def NYU_upload_data_dryrun(url, dataset):
    dataset.seek(0,0)
    response = requests.post(
        url,
        files={'data': dataset}
    )
    return response

def print_results(results):
    if not results:
        return
    for result in results:
        print(result['metadata']['name'])
        print('ID: ', result['id'])
        print('Score: ', result['score'])
        # Print augmentation information if provided
        if 'augmentation' in result and result['augmentation']['type'] != 'none':
            aug_type = result['augmentation']['type']
            print('Augmentation: %s' % aug_type)
            print("Left Columns: %s" %
                  str(result['augmentation']['left_columns_names']))
            print("Right Columns: %s" %
                  str(result['augmentation']['right_columns_names']))
            
        print("-------------------")

# API Configuration

## ISI Datamart

By default the this notebook accesses the Datamart REST API server at ISI. Edit the cell below to choose a different server.

To run you own server **locally** follow the instructions here: [README](https://github.com/usc-isi-i2/datamart-api/blob/26340c2111bd402b8da04aa6bce039599dd04d01/README.md)

In [3]:
# The datamart server running at ISI
ISI_user = ''
ISI_password = ''
ISI_datamart_api_url = f'https://{ISI_user}:{ISI_password}@dsbox02.isi.edu:8888/datamart-api-wm'

In [4]:
# get list of datasets
response = get(f'{ISI_datamart_api_url}/metadata/datasets')
print(json.dumps(response.json(), indent=2))

[
  {
    "name": "FSI dataset",
    "description": "data downloaded from FSI",
    "url": "https://fragilestatesindex.org",
    "dataset_id": "FSI"
  },
  {
    "name": "OECD dataset",
    "description": "data downloaded from OECD",
    "url": "https://data.oecd.org",
    "dataset_id": "OECD"
  },
  {
    "name": "UAZ Indicators",
    "description": "Collection of indicators, including indicators from FAO, WDI, FEWSNET, CLiMIS, UNICEF, ieconomics.com, UNHCR, DSSAT, WHO, IMF, WHP, ACLDE, World Bank and IOM-DTM",
    "url": "https://github.com/ml4ai/delphi",
    "dataset_id": "UAZ"
  },
  {
    "name": "WGI dataset",
    "description": "Worldwide Governance Indicators",
    "url": "https://databank.worldbank.org/source/worldwide-governance-indicators",
    "dataset_id": "WGI"
  },
  {
    "name": "WDI dataset",
    "description": "World Development Indicators",
    "url": "https://databank.worldbank.org/source/world-development-indicators",
    "dataset_id": "WDI"
  },
  {
    "name": "Corruption Perceptions Index",
    "description": "Transparency International  Corruption Perceptions Index The CPI scores and ranks countries/territories based on how corrupt a country\u2019s public sector is perceived to be by experts and business executives. It is a composite index, a combination of 13 surveys and assessments of corruption, collected by a variety of reputable institutions. The CPI is the most widely used indicator of corruption worldwide.",
    "url": "https://www.transparency.org/",
    "dataset_id": "TICPI"
  },
  {
    "name": "SIPRI Military Expenditure",
    "description": "Military expenditure by country, in millions of US$ at current prices and exchange rates, 1949-2018 - SIPRI 2019",
    "url": "https://sipri.org/databases/milex",
    "dataset_id": "SIPRI"
  },
  {
    "name": "economic fitness dataset",
    "description": "EconomicFitness",
    "url": "https://databank.banquemondiale.org/source/economic-fitness",
    "dataset_id": "EconomicFitness"
  },
  {
    "name": "Agricultural Market Information System (AMIS)",
    "description": "The Agricultural Market Information System (AMIS) is an inter-agency platform to enhance food market transparency and policy response for food security. It was launched in 2011 by the G20 Ministers of Agriculture following the global food price hikes in 2007/08 and 2010. Bringing together the principal trading countries of agricultural commodities, AMIS assesses global food supplies (focusing on wheat, maize, rice and soybeans) and provides a platform to coordinate policy action in times of market uncertainty.",
    "url": "http://www.amis-outlook.org",
    "dataset_id": "AMIS"
  },
  {
    "name": "test test test",
    "description": "testy test",
    "url": "https://test.com",
    "dataset_id": "TEST000"
  },
  {
    "name": "World Press Freedom Index",
    "description": "Published every year since 2002 by Reporters Without Borders (RSF), the World Press Freedom Index is an important advocacy tool based on the principle of emulation between states. The Index ranks 180 countries and regions\u00a0according to the level of freedom available to journalists.",
    "url": "https://rsf.org/en",
    "dataset_id": "WPFI"
  },
  {
    "name": "Poverty Rate Global DP",
    "description": "Poverty Rate Global DP",
    "url": "http://url",
    "dataset_id": "DPPoverty"
  },
  {
    "name": "IOM DTM Dataset",
    "description": "Displacement Tracking Matrix (DTM) data from the International Organization for Migration (IOM)",
    "url": "https://displacement.iom.int/",
    "dataset_id": "IOM_DTM"
  },
  {
    "name": "The Aid Worker Security Database",
    "description": "The AWSD is a global compilation of reports on major security incidents involving deliberate acts of violence affecting aid workers.",
    "url": "https://aidworkersecurity.org/",
    "dataset_id": "AWSD"
  },
  {
    "name": "WFP Dataset",
    "description": "Food prices data with HXL tags \\u2013 includes some non-food items like fuel and exchange rate; wholesale and retail prices for about 50+ markets",
    "url": "https://data.humdata.org/dataset/2e4f1922-e446-4b57-a98a-d0e2d5e34afa/resource/87bac18e-f3aa-4b29-8cf8-76763e823dc5/download/wfp_food_prices_ethiopia.csv",
    "dataset_id": "WFP"
  },
  {
    "name": "UNHCR Refugee Population in Ethiopia",
    "description": "The UN Refugee Agency, UNHCR, collates population data relating to persons who are forcibly displaced or stateless. The data is sourced primarily from governments and also from UNHCR operations.",
    "url": " https://www.unhcr.org/refugee-statistics",
    "dataset_id": "UNHCR"
  }
]

## NYU Datamart

In [5]:
NYU_user = ''
NYU_password = ''
NYU_datamart_api_url = f'https://{NYU_user}:{NYU_password}@wm.auctus.vida-nyu.org/api/v1/'
NYU_datamart_api_url_upload = NYU_datamart_api_url + 'upload' 
NYU_datamart_api_url_profile = NYU_datamart_api_url + 'profile'
NYU_datamart_api_url_metadata = NYU_datamart_api_url + 'metadata/'
NYU_datamart_api_url_search = NYU_datamart_api_url + 'search'
NYU_datamart_api_url_download = NYU_datamart_api_url + 'download/'

# Read in and process data

In [6]:
basepath = os.getcwd()
test_directory = os.path.abspath(path.join(basepath, "MITRE_test_data"))

## IOM DTM Ethiopia Round 10

In [7]:
file = 'Ethiopia DTM Round 10.xlsx'
filepath = path.join(test_directory, file)

In [8]:
df = pd.read_excel(filepath)
display(df.sample(5))

,1.1.a.1: Survey Date,1.1.a.2: Survey Round,1.1.c.1: Site ID,1.1.d.1: Site Name,1.1.d.2: Site Alternate Name,1.4.a.2: Is site open?,1.1.e.1: Region,Region P-CODE,1.1.e.2: Zone,Zone P-CODE,...,11.3.c.3: Employment,11.3.c.3: Better living conditions,11.3.c.3: Other,"11.3.c.3: If other, specify",11.3.c.4 Main groups who are using travel opportunities,11.3.c.4 Boys,11.3.c.4 Girls,11.3.c.4 Women,11.3.c.4 Men,Additional Comments / Observatoins
521,2018-04-01,10,OR833,Sebula,NaN,Yes,Oromia,ET04,West Harerge,ET0409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,2018-03-13,10,OR693,Fechatu,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"They need shelter, NFI, food, income generatio..."
483,2018-03-28,10,OR794,Abomsa Town,NaN,Yes,Oromia,ET04,Arsi,ET0408,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,They have problems regarding to health concern...
400,2018-03-14,10,OR691,Birenti,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"They need shelter, NFI, food, income generatio..."
749,2018-03-20,10,SO512,Dhera,NaN,Yes,Somali,ET05,Erer,ET0511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Top Basic Needs.\n- Access to clean water and ...

In [9]:
# Remove column prefixes 
col_names = df.columns
df.columns = [re.sub('[\w]+\.[\w]+\.[\w]+.[\w]+:', '', col) for col in df.columns]
df.columns = [re.sub('[\w]+\.[\w]+\.[\w]+.[\w]+', '', col) for col in df.columns]
df.columns = [col.strip() for col in df.columns]
print(df.columns)

Index(['Survey Date', 'Survey Round', 'Site ID', 'Site Name',
       'Site Alternate Name', 'Is site open?', 'Region', 'Region P-CODE',
       'Zone', 'Zone P-CODE',
       ...
       'Employment', 'Better living conditions', 'Other', 'If other, specify',
       'Main groups who are using travel opportunities', 'Boys', 'Girls',
       'Women', 'Men', 'Additional Comments / Observatoins'],
      dtype='object', length=349)

In [10]:
# reformat datetime, Valid format: '%Y-%m-%dT%H:%M:%SZ'
df = df.rename(columns={"Survey Date": "timestamp"})
df['timestamp']= df['timestamp'].astype(str)
time_suffix = 'T00:00:00Z'
df['timestamp'] =df['timestamp'] + time_suffix

In [11]:
df['country'] = 'Ethiopia'

In [12]:
display(df.sample(5))

,timestamp,Survey Round,Site ID,Site Name,Site Alternate Name,Is site open?,Region,Region P-CODE,Zone,Zone P-CODE,...,Better living conditions,Other,"If other, specify",Main groups who are using travel opportunities,Boys,Girls,Women,Men,Additional Comments / Observatoins,country
259,2018-03-24T00:00:00Z,10,OR524,Lukaluke,Ebebis,Yes,Oromia,ET04,West Guji,ET0422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia
543,2017-07-26T00:00:00Z,6,SO153,Dangago,NaN,Yes,Somali,ET05,Fafan,ET0502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lack of clean water, shortage of food and shel...",Ethiopia
734,2018-03-14T00:00:00Z,10,SO488,Dhuhun Town,NaN,Yes,Somali,ET05,Nogob,ET0504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.Food:-They need suplementry feeding for wome...,Ethiopia
107,2018-03-30T00:00:00Z,10,OR113,Mado migo,Amaresa,Yes,Oromia,ET04,Borena,ET0412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Comment,Ethiopia
535,2018-03-29T00:00:00Z,10,SO130,Hassan Gabi,Hassan Gabay,Yes,Somali,ET05,Liben,ET0509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Need for clean water and need of rehabilitati...,Ethiopia

In [13]:
df.shape

(950, 350)

### Initial work for setting up normalized form

In [14]:
# change column names to lowercase with underscores, just for normalized version
df_norm = df.copy()
df_norm.columns = df_norm.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
display(df_norm.sample(5))

,timestamp,survey_round,site_id,site_name,site_alternate_name,is_site_open?,region,region_p-code,zone,zone_p-code,...,better_living_conditions,other,"if_other,_specify",main_groups_who_are_using_travel_opportunities,boys,girls,women,men,additional_comments_/_observatoins,country
595,2018-03-08T00:00:00Z,10,SO275,Dhungo,NaN,Yes,Somali,ET05,Liben,ET0509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education they do not have class rooms and edu...,Ethiopia
292,2018-03-16T00:00:00Z,10,OR566,DDC,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia
3,2018-03-23T00:00:00Z,10,AF130,Gera,NaN,Yes,Afar,ET02,Awsi (Zone 1),ET0201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia
314,2018-03-22T00:00:00Z,10,OR591,Goro Gutu,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia
916,2018-03-20T00:00:00Z,10,TG152,May-Tuem,NaN,Yes,Tigray,ET01,Central,ET0102,...,No,No,NaN,boys girls men,Yes,Yes,No,Yes,Main ideas and issues raised by themselves:\n▪...,Ethiopia

In [15]:
# set normalized file name (rest to be worked on in Excel)
IOM_DTM_normalized_filename = 'IOM_DTM_R10_Ethiopia_normalized.csv'

In [16]:
# write to file
df_norm.to_csv(path.join(test_directory, IOM_DTM_normalized_filename), index=False)

### ISI Datamart Format (not normalized) - displaced population variable

All required columns are:

main_subject,
value,
time,
time_precision,
country

In [17]:
# set rest of required columns
df = df.rename(columns={"timestamp": "time"})
df = df.rename(columns={"Total Individuals": "value"})
df['main_subject'] = 'Ethiopia'
df['time_precision'] = 'day'

In [18]:
display(df.sample(5))

,time,Survey Round,Site ID,Site Name,Site Alternate Name,Is site open?,Region,Region P-CODE,Zone,Zone P-CODE,...,"If other, specify",Main groups who are using travel opportunities,Boys,Girls,Women,Men,Additional Comments / Observatoins,country,main_subject,time_precision
323,2018-03-21T00:00:00Z,10,OR603,Mata Ramis,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia,Ethiopia,day
228,2018-03-16T00:00:00Z,10,OR477,Urgesa,NaN,Yes,Oromia,ET04,Borena,ET0412,...,NaN,NaN,NaN,NaN,NaN,NaN,No Comment,Ethiopia,Ethiopia,day
250,2018-03-29T00:00:00Z,10,OR514,Miesa,NaN,Yes,Oromia,ET04,Guji,ET0414,...,NaN,NaN,NaN,NaN,NaN,NaN,The besic needed for this site are they live ...,Ethiopia,Ethiopia,day
452,2018-03-19T00:00:00Z,10,OR750,Dhaba Kanisa,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia,Ethiopia,day
877,2018-03-14T00:00:00Z,10,TG111c,Hasheya,NaN,Yes,Tigray,ET01,Southern,ET0104,...,NaN,women men,No,No,Yes,Yes,Top priorities\n•Psychosocial support \n•Livel...,Ethiopia,Ethiopia,day

In [19]:
# check 'time' and 'value' columns
df['value']
df['time']

0      2018-03-15T00:00:00Z
1      2018-03-12T00:00:00Z
2      2018-03-16T00:00:00Z
3      2018-03-23T00:00:00Z
4      2018-03-06T00:00:00Z
               ...
945    2018-03-27T00:00:00Z
946    2018-03-30T00:00:00Z
947    2018-03-29T00:00:00Z
948    2018-03-28T00:00:00Z
949    2018-03-15T00:00:00Z
Name: time, Length: 950, dtype: object

In [20]:
df.columns

Index(['time', 'Survey Round', 'Site ID', 'Site Name', 'Site Alternate Name',
       'Is site open?', 'Region', 'Region P-CODE', 'Zone', 'Zone P-CODE',
       ...
       'If other, specify', 'Main groups who are using travel opportunities',
       'Boys', 'Girls', 'Women', 'Men', 'Additional Comments / Observatoins',
       'country', 'main_subject', 'time_precision'],
      dtype='object', length=352)

In [21]:
# check overall form
display(df.sample(5))

,time,Survey Round,Site ID,Site Name,Site Alternate Name,Is site open?,Region,Region P-CODE,Zone,Zone P-CODE,...,"If other, specify",Main groups who are using travel opportunities,Boys,Girls,Women,Men,Additional Comments / Observatoins,country,main_subject,time_precision
754,2018-03-20T00:00:00Z,10,SO521,Dig Town,NaN,Yes,Somali,ET05,Jarar,ET0503,...,NaN,NaN,NaN,NaN,NaN,NaN,1.food:- they need supplementary feeding speci...,Ethiopia,Ethiopia,day
435,2018-03-14T00:00:00Z,10,OR733,Masno,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia,Ethiopia,day
2,2018-03-16T00:00:00Z,10,AF128,Bada Admorug,NaN,Yes,Afar,ET02,Kilbati (Zone 2),ET0202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia,Ethiopia,day
780,2018-03-17T00:00:00Z,10,SO549,Hargessa,NaN,Yes,Somali,ET05,Liben,ET0509,...,NaN,NaN,NaN,NaN,NaN,NaN,Water was the main issue in need due to their ...,Ethiopia,Ethiopia,day
390,2018-03-26T00:00:00Z,10,OR680,Dado,NaN,Yes,Oromia,ET04,East Harerge,ET0410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ethiopia,Ethiopia,day

In [22]:
# write to file for variable displaced_population (defined in later cells)
IOM_DTM_processed_filename_ISI_displaced_population = 'IOM_DTM_R10_Ethiopia_processed_ISI_displaced_population.csv'
df.to_csv(path.join(test_directory, IOM_DTM_processed_filename_ISI_displaced_population), index=False)

### ISI Datamart Format (not normalized) - total displaced households variable

In [23]:
# set dataframe for total hhs variable
df_hhs = df[['time', 'main_subject', 'time_precision', 'country', 'Total HHs', '% of HH living  in standard temporary shelters or culturally appropriate shelters']].copy()
# set rest of required columns
df_hhs = df_hhs.rename(columns={"Total HHs": "value"})
# add one qualifier column to include during registration (although it turns out this is not supported at this time)
df_hhs = df_hhs.rename(columns={"% of HH living  in standard temporary shelters or culturally appropriate shelters": "perc_hhs_temp_shelters"})
df_hhs['value_unit'] = 'Number of households'
df_hhs.sample(5)

,time,main_subject,time_precision,country,value,perc_hhs_temp_shelters,value_unit
669,2018-03-27T00:00:00Z,Ethiopia,day,Ethiopia,224,25-50 %,Number of households
706,2018-03-10T00:00:00Z,Ethiopia,day,Ethiopia,111,25-50 %,Number of households
698,2018-03-20T00:00:00Z,Ethiopia,day,Ethiopia,355,25-50 %,Number of households
753,2018-03-25T00:00:00Z,Ethiopia,day,Ethiopia,180,25-50 %,Number of households
153,2018-03-31T00:00:00Z,Ethiopia,day,Ethiopia,410,< 25%,Number of households

In [24]:
# write to file for variable total_housholds (defined in later cells)
IOM_DTM_processed_filename_ISI_total_households = 'IOM_DTM_R10_Ethiopia_processed_ISI_total_households.csv'
df_hhs.to_csv(path.join(test_directory, IOM_DTM_processed_filename_ISI_total_households), index=False)

### Defining new variables for ISI Datamart

In [25]:
# define a new variable
displaced_population_variable = {
    "name": "Total migrant/displaced population, from IOM DTM",
    "variable_id": "total_migrant_displaced_population",
    "description": "The total IDP, migrant or returnee population presence at various survey sites (displacement locations). Additional qualifiers include data on population presence, living conditions and needs in a particular displacement site or community."
}

In [26]:
# define a new variable
displaced_households_variable = {
    "name": "Total displaced households, from IOM DTM",
    "variable_id": "total_displaced_households",
    "description": "The total number of displaced households at various survey sites (displacement locations).",
    "has_qualifier": "perc_hhs_temp_shelters"
}

## Aid Worker Security Database

In [27]:
file = 'aid worker security_incidents2020-06-22.csv'
filepath = path.join(test_directory, file)
df = pd.read_csv(filepath)
display(df.sample(5))

,Incident ID,Year,Month,Day,Country,Region,District,City,UN,INGO,...,Means of attack,Attack context,Location,Latitude,Longitude,Actor type,Actor name,Details,Verified,Source
5,782,2008,NaN,NaN,Ethiopia,NaN,NaN,NaN,0,0,...,Landmine,Ambush,Road,9.145000,40.489673,Unknown,Unknown,Three national staff of a local partner organi...,Yes,Focal Point
7,942,2009,3.0,1.0,Ethiopia,Gode,NaN,NaN,1,0,...,Bodily assault,Mob violence,Unknown,5.952698,43.552231,Unknown,Unknown,1 UN national staff injured when her vehicle w...,Yes,Focal Point
8,964,2010,1.0,3.0,Ethiopia,Gode,NaN,NaN,1,0,...,Bodily assault,Detention,Unknown,5.952698,43.552231,Host State,Ethiopian Defence Forces,1 UN national staff injured when physically as...,Yes,Focal Point
24,2641,2018,10.0,23.0,Ethiopia,Oromo,Jijiga,Chinaksen,1,0,...,Shooting,Individual attack,Project site,9.500000,42.700000,Unknown,Unknown,One male national UN contracted driver was sho...,Yes,Focal Point
26,2916,2019,3.0,7.0,Ethiopia,Tigray,Mi'irabawi,Shire,0,1,...,Bodily assault,Individual attack,Public location,14.105671,38.284946,Unknown,Unknown,One male INGO national staff member was seriou...,Yes,Focal Point

In [28]:
# reformat datetime, Valid format: '%Y-%m-%dT%H:%M:%SZ'
time_cols = ['Year', 'Month', 'Day']
df[time_cols] = df[time_cols].fillna('01')
df['Month']= df['Month'].astype(int).astype(str).str.zfill(2)
df['Day']= df['Day'].astype(int).astype(str).str.zfill(2)
df['Year']= df['Year'].astype(int).astype(str)
df['timestamp'] = df[time_cols].apply(lambda x: '-'.join(x.dropna()), axis=1)
df['timestamp'] =df['timestamp'] + time_suffix
df = df.drop(columns=time_cols)
df['timestamp']

0     1997-09-24T00:00:00Z
1     1998-06-25T00:00:00Z
2     1999-04-01T00:00:00Z
3     2000-02-01T00:00:00Z
4     2006-09-20T00:00:00Z
5     2008-01-01T00:00:00Z
6     2008-07-01T00:00:00Z
7     2009-03-01T00:00:00Z
8     2010-01-03T00:00:00Z
9     2010-03-23T00:00:00Z
10    2010-06-18T00:00:00Z
11    2011-05-13T00:00:00Z
12    2011-08-05T00:00:00Z
13    2012-10-28T00:00:00Z
14    2013-07-22T00:00:00Z
15    2013-10-29T00:00:00Z
16    2014-06-09T00:00:00Z
17    2014-08-07T00:00:00Z
18    2014-08-09T00:00:00Z
19    2014-12-11T00:00:00Z
20    2015-02-11T00:00:00Z
21    2015-09-28T00:00:00Z
22    2018-05-19T00:00:00Z
23    2018-06-25T00:00:00Z
24    2018-10-23T00:00:00Z
25    2019-02-01T00:00:00Z
26    2019-03-07T00:00:00Z
27    2019-07-03T00:00:00Z
28    2019-08-08T00:00:00Z
29    2019-08-29T00:00:00Z
30    2019-09-05T00:00:00Z
31    2019-09-06T00:00:00Z
32    2019-10-22T00:00:00Z
33    2019-12-08T00:00:00Z
Name: timestamp, dtype: object

In [29]:
# set lat/long as string: POINT(latitude,longitude)
df['coordinate'] = 'POINT(' + df['Latitude'].astype(str) + ',' + df['Longitude'].astype(str) + ')'
df['coordinate']

0                POINT(8.530560000000001,44.795)
1                                POINT(7.0,44.0)
2                POINT(9.145,40.489672999999996)
3                POINT(9.145,40.489672999999996)
4                POINT(9.145,40.489672999999996)
5                POINT(9.145,40.489672999999996)
6                        POINT(9.02497,38.74689)
7                    POINT(5.9526975,43.5522312)
8                    POINT(5.9526975,43.5522312)
9                                POINT(8.0,39.0)
10                               POINT(7.0,44.0)
11               POINT(8.530560000000001,44.795)
12                POINT(6.74,44.278059999999996)
13               POINT(9.145,40.489672999999996)
14                     POINT(8.218894,43.557972)
15                     POINT(4.482944,41.664859)
16               POINT(9.145,40.489672999999996)
17                     POINT(8.466667,34.033333)
18                     POINT(8.466667,34.033333)
19                     POINT(8.980603,38.757761)
20               POINT(9.145,40.489672999999996)
21                     POINT(8.980603,38.757761)
22                         POINT(8.25,34.583333)
23                           POINT(9.5,41.88333)
24                               POINT(9.5,42.7)
25                             POINT(9.03,38.74)
26          POINT(14.105670800000002,38.2849463)
27                    POINT(9.0249701,38.746891)
28    POINT(7.921968700000001,34.15319470000001)
29    POINT(7.921968700000001,34.15319470000001)
30            POINT(8.308999,34.322233000000004)
31    POINT(7.921968700000001,34.15319470000001)
32           POINT(8.9806034,38.757760499999996)
33                               POINT(9.5,35.5)
Name: coordinate, dtype: object

### NYU Datamart Format

In [30]:
# move timestamp to the front
ts = df['timestamp']
df.drop(labels=['timestamp'], axis=1,inplace = True)
df.insert(0, 'timestamp', ts)

In [31]:
display(df.sample(5))

,timestamp,Incident ID,Country,Region,District,City,UN,INGO,LNGO/NRCS,ICRC,...,Attack context,Location,Latitude,Longitude,Actor type,Actor name,Details,Verified,Source,coordinate
21,2015-09-28T00:00:00Z,2135,Ethiopia,Addis Ababa,NaN,NaN,0,1,0,0,...,Individual attack,Road,8.980603,38.757761,Unknown,Unknown,An international staff member was attacked and...,Yes,Focal Point,"POINT(8.980603,38.757761)"
0,1997-09-24T00:00:00Z,22,Ethiopia,Ogaden,NaN,NaN,2,0,0,0,...,Individual attack,Unknown,8.530560,44.795000,Unknown,Unknown,2 UN national staffers shot dead in apparent r...,Archived,Archived,"POINT(8.530560000000001,44.795)"
17,2014-08-07T00:00:00Z,1924,Ethiopia,Gambella,NaN,"Camp, Kule refugee camp, 31 miles from Pagak",0,1,0,0,...,Individual attack,Project site,8.466667,34.033333,Unknown,Unknown,An INGO driver and two passengers in a water s...,Yes,Focal Point,"POINT(8.466667,34.033333)"
27,2019-07-03T00:00:00Z,3006,Ethiopia,Oromiya,Addis Ababa,Alek,0,1,0,0,...,Individual attack,Public location,9.024970,38.746891,Unaffiliated,Not applicable,One female INGO national staff was assaulted b...,Yes,Focal Point,"POINT(9.0249701,38.746891)"
31,2019-09-06T00:00:00Z,2897,Ethiopia,Gambella,Anuak,Gambella,0,2,0,0,...,Ambush,Road,7.921969,34.153195,Host state,Ethiopian Armed Forces,Two male national INGO staff members were shot...,Yes,Focal Point,"POINT(7.921968700000001,34.15319470000001)"

In [32]:
# set processed filename
AWSD_processed_filename_NYU = 'AWSD_Ethiopia_processed_NYU.csv'

In [33]:
# write to file
df.to_csv(path.join(test_directory, AWSD_processed_filename_NYU), index=False)

### ISI Datamart Format

In [34]:
# set columns
df = df.rename(columns={"timestamp": "time"})
df = df.rename(columns={"Country": "country"})
df = df.rename(columns={"Total affected": "value"})
df['value'] = df['value'].astype(int)
df = df.rename(columns={"Region": "admin1"})
df['value_unit'] = 'number of aid workers'
df['main_subject'] = 'Ethiopia'
df['country'] = 'Ethiopia'
df['time_precision'] = 'day'
# df['stated_in'] = 'AWSD' Unsure what 'stated_in' should contain as an optional field, couldn't find details in documentation

In [35]:
# check 'time' and 'value' columns
df['value']
# df['time']

0     2
1     6
2     1
3     2
4     2
5     3
6     1
7     1
8     1
9     2
10    1
11    4
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    2
30    2
31    2
32    2
33    1
Name: value, dtype: int64

In [36]:
# check overall form
display(df.sample(5))

,time,Incident ID,country,admin1,District,City,UN,INGO,LNGO/NRCS,ICRC,...,Longitude,Actor type,Actor name,Details,Verified,Source,coordinate,value_unit,main_subject,time_precision
12,2011-08-05T00:00:00Z,1281,Ethiopia,Somali,Ethiopia,Kebridehar,1,0,0,0,...,44.278060,Unknown,Unknown,A UN national staff member was injured in a gr...,Pending,Archived,"POINT(6.74,44.278059999999996)",number of aid workers,Ethiopia,day
23,2018-06-25T00:00:00Z,2623,Ethiopia,Oromiya,Guji,Jelo,0,1,0,0,...,41.883330,Non-state armed group: Unknown,Not applicable,A male staff member of an INGO was killed when...,Yes,Focal Point,"POINT(9.5,41.88333)",number of aid workers,Ethiopia,day
16,2014-06-09T00:00:00Z,1931,Ethiopia,NaN,NaN,NaN,0,1,0,0,...,40.489673,Non-state armed group: Unknown,Not applicable,IED attack. The attack wounded one male nation...,Yes,Focal Point,"POINT(9.145,40.489672999999996)",number of aid workers,Ethiopia,day
28,2019-08-08T00:00:00Z,2895,Ethiopia,Gambella,Anuak,Gambella,0,1,0,0,...,34.153195,Unaffiliated,Not applicable,One male national INGO staff member was wounde...,Yes,Focal Point,"POINT(7.921968700000001,34.15319470000001)",number of aid workers,Ethiopia,day
3,2000-02-01T00:00:00Z,103,Ethiopia,NaN,NaN,NaN,0,2,0,0,...,40.489673,Unknown,Unknown,1 INGO national staff killed and 1 internation...,Archived,Archived,"POINT(9.145,40.489672999999996)",number of aid workers,Ethiopia,day

In [37]:
# set processed filename
AWSD_processed_filename_ISI = 'AWSD_Ethiopia_processed_ISI.csv'

In [38]:
# write to file
df.to_csv(path.join(test_directory, AWSD_processed_filename_ISI), index=False)

### Defining new variable

In [39]:
# define a new variable
aid_workers_affected_variable = {
    "name": "Total number of aid workers affected",
    "variable_id": "total_aid_workers_affected",
    "description": "The total number of aid workers affected by major security incidents."
}

# Register and Query Datasets

## ISI Datamart

### IOM DTM Ethiopia Dataset

#### Create and register dataset

In [40]:
# Define a new dataset for IOM DTM, not specific to Ethiopia if we envision that we can more data for other countries later
IOM_DTM_dataset = {
    "name": "IOM DTM Dataset",
    "dataset_id": "IOM_DTM",
    "description": "Displacement Tracking Matrix (DTM) data from the International Organization for Migration (IOM)",
    "url": "https://displacement.iom.int/"
}

In [ ]:
# post datamart definition metadata to the API
td_response = post(f'{ISI_datamart_api_url}/metadata/datasets', json=IOM_DTM_dataset)
print(json.dumps(td_response.json(), indent=2))

In [41]:
# check that dataset is in the datamart, call list of all datasets
response = get(f'{ISI_datamart_api_url}/metadata/datasets')
print(json.dumps(response.json(), indent=2))

[
  {
    "name": "FSI dataset",
    "description": "data downloaded from FSI",
    "url": "https://fragilestatesindex.org",
    "dataset_id": "FSI"
  },
  {
    "name": "OECD dataset",
    "description": "data downloaded from OECD",
    "url": "https://data.oecd.org",
    "dataset_id": "OECD"
  },
  {
    "name": "UAZ Indicators",
    "description": "Collection of indicators, including indicators from FAO, WDI, FEWSNET, CLiMIS, UNICEF, ieconomics.com, UNHCR, DSSAT, WHO, IMF, WHP, ACLDE, World Bank and IOM-DTM",
    "url": "https://github.com/ml4ai/delphi",
    "dataset_id": "UAZ"
  },
  {
    "name": "WGI dataset",
    "description": "Worldwide Governance Indicators",
    "url": "https://databank.worldbank.org/source/worldwide-governance-indicators",
    "dataset_id": "WGI"
  },
  {
    "name": "WDI dataset",
    "description": "World Development Indicators",
    "url": "https://databank.worldbank.org/source/world-development-indicators",
    "dataset_id": "WDI"
  },
  {
    "name": "Corruption Perceptions Index",
    "description": "Transparency International  Corruption Perceptions Index The CPI scores and ranks countries/territories based on how corrupt a country\u2019s public sector is perceived to be by experts and business executives. It is a composite index, a combination of 13 surveys and assessments of corruption, collected by a variety of reputable institutions. The CPI is the most widely used indicator of corruption worldwide.",
    "url": "https://www.transparency.org/",
    "dataset_id": "TICPI"
  },
  {
    "name": "SIPRI Military Expenditure",
    "description": "Military expenditure by country, in millions of US$ at current prices and exchange rates, 1949-2018 - SIPRI 2019",
    "url": "https://sipri.org/databases/milex",
    "dataset_id": "SIPRI"
  },
  {
    "name": "economic fitness dataset",
    "description": "EconomicFitness",
    "url": "https://databank.banquemondiale.org/source/economic-fitness",
    "dataset_id": "EconomicFitness"
  },
  {
    "name": "Agricultural Market Information System (AMIS)",
    "description": "The Agricultural Market Information System (AMIS) is an inter-agency platform to enhance food market transparency and policy response for food security. It was launched in 2011 by the G20 Ministers of Agriculture following the global food price hikes in 2007/08 and 2010. Bringing together the principal trading countries of agricultural commodities, AMIS assesses global food supplies (focusing on wheat, maize, rice and soybeans) and provides a platform to coordinate policy action in times of market uncertainty.",
    "url": "http://www.amis-outlook.org",
    "dataset_id": "AMIS"
  },
  {
    "name": "test test test",
    "description": "testy test",
    "url": "https://test.com",
    "dataset_id": "TEST000"
  },
  {
    "name": "World Press Freedom Index",
    "description": "Published every year since 2002 by Reporters Without Borders (RSF), the World Press Freedom Index is an important advocacy tool based on the principle of emulation between states. The Index ranks 180 countries and regions\u00a0according to the level of freedom available to journalists.",
    "url": "https://rsf.org/en",
    "dataset_id": "WPFI"
  },
  {
    "name": "Poverty Rate Global DP",
    "description": "Poverty Rate Global DP",
    "url": "http://url",
    "dataset_id": "DPPoverty"
  },
  {
    "name": "IOM DTM Dataset",
    "description": "Displacement Tracking Matrix (DTM) data from the International Organization for Migration (IOM)",
    "url": "https://displacement.iom.int/",
    "dataset_id": "IOM_DTM"
  },
  {
    "name": "The Aid Worker Security Database",
    "description": "The AWSD is a global compilation of reports on major security incidents involving deliberate acts of violence affecting aid workers.",
    "url": "https://aidworkersecurity.org/",
    "dataset_id": "AWSD"
  },
  {
    "name": "WFP Dataset",
    "description": "Food prices data with HXL tags \\u2013 includes some non-food items like fuel and exchange rate; wholesale and retail prices for about 50+ markets",
    "url": "https://data.humdata.org/dataset/2e4f1922-e446-4b57-a98a-d0e2d5e34afa/resource/87bac18e-f3aa-4b29-8cf8-76763e823dc5/download/wfp_food_prices_ethiopia.csv",
    "dataset_id": "WFP"
  },
  {
    "name": "UNHCR Refugee Population in Ethiopia",
    "description": "The UN Refugee Agency, UNHCR, collates population data relating to persons who are forcibly displaced or stateless. The data is sourced primarily from governments and also from UNHCR operations.",
    "url": " https://www.unhcr.org/refugee-statistics",
    "dataset_id": "UNHCR"
  }
]

In [42]:
# check metadata back for IOM_DTM dataset
dataset_id = IOM_DTM_dataset['dataset_id']
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}')
print(json.dumps(response.json(), indent=2))

[
  {
    "name": "IOM DTM Dataset",
    "description": "Displacement Tracking Matrix (DTM) data from the International Organization for Migration (IOM)",
    "url": "https://displacement.iom.int/",
    "dataset_id": "IOM_DTM"
  }
]

#### Register variable metadata shell to dataset

In [ ]:
# register displaced_population variable metadata shell to IOM_DTM dataset
dpvar_response = post(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables', json=displaced_population_variable)
print(json.dumps(dpvar_response.json(), indent=2))

In [ ]:
# register displaced_households variable metadata shell to IOM_DTM dataset
dpvar_response = post(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables', json=displaced_households_variable)
print(json.dumps(dpvar_response.json(), indent=2))

In [43]:
# get list of variables in dataset
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables')
print(json.dumps(response.json()[:4], indent=2)) # printing only 4

[
  {
    "name": "Total displaced households, from IOM DTM",
    "variable_id": "total_displaced_households",
    "dataset_id": "IOM_DTM"
  },
  {
    "name": "Total migrant/displaced population, from IOM DTM",
    "variable_id": "total_migrant_displaced_population",
    "dataset_id": "IOM_DTM"
  }
]

In [44]:
# get metadata about the displaced population variable
displaced_pop_variable_id = displaced_population_variable['variable_id']
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables/{displaced_pop_variable_id}')
print(json.dumps(response.json(), indent=3))

{
   "name": "Total migrant/displaced population, from IOM DTM",
   "variable_id": "total_migrant_displaced_population",
   "dataset_id": "IOM_DTM",
   "description": "The total IDP, migrant or returnee population presence at various survey sites (displacement locations). Additional qualifiers include data on population presence, living conditions and needs in a particular displacement site or community.",
   "corresponds_to_property": "PIOM_DTM-total_migrant_displaced_population"
}

In [45]:
# get metadata about the displaced households variable
displaced_hhs_variable_id = displaced_households_variable['variable_id']
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables/{displaced_hhs_variable_id}')
print(json.dumps(response.json(), indent=3))

{
   "name": "Total displaced households, from IOM DTM",
   "variable_id": "total_displaced_households",
   "dataset_id": "IOM_DTM",
   "description": "The total number of displaced households at various survey sites (displacement locations).",
   "corresponds_to_property": "PIOM_DTM-total_displaced_households"
}

#### Upload data to variables

In [ ]:
# upload data to displaced_population variable
# IOM_DTM_processed_filename has the data for this variable
dataset_id = IOM_DTM_dataset['dataset_id']
variable_id = displaced_population_variable['variable_id']
filepath = path.join(test_directory, IOM_DTM_processed_filename_ISI_displaced_population)
url = f'{ISI_datamart_api_url}/datasets/{dataset_id}/variables/{variable_id}'
print(url)
# print(filepath)

In [ ]:
ISI_upload_data(filepath, url)

In [ ]:
# upload data to displaced_population variable
dataset_id = IOM_DTM_dataset['dataset_id']
variable_id = displaced_households_variable['variable_id']
filepath = path.join(test_directory, IOM_DTM_processed_filename_ISI_total_households)
url = f'{ISI_datamart_api_url}/datasets/{dataset_id}/variables/{variable_id}'
print(url)
# print(filepath)
# print(variable_id)
# print(dataset_id)

In [ ]:
ISI_upload_data(filepath, url)

#### Query dataset, variables, and data

In [48]:
# get list of variables in dataset
dataset_id = IOM_DTM_dataset['dataset_id']
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables')
print(json.dumps(response.json()[:4], indent=2)) # printing only 4

[
  {
    "name": "Total displaced households, from IOM DTM",
    "variable_id": "total_displaced_households",
    "dataset_id": "IOM_DTM"
  },
  {
    "name": "Total migrant/displaced population, from IOM DTM",
    "variable_id": "total_migrant_displaced_population",
    "dataset_id": "IOM_DTM"
  }
]

In [49]:
# get data about uploaded variable
variable_id = 'total_migrant_displaced_population'
response = get(f'{ISI_datamart_api_url}/datasets/{dataset_id}/variables/{variable_id}')
df = pd.read_csv(StringIO(response.text))
display(HTML(df.to_html()))

In [50]:
# search by keyword
response = get(f'{ISI_datamart_api_url}/metadata/variables?keyword=displacement')
print(json.dumps(response.json(), indent=2))

[
  {
    "variable_id": "total_displaced_households",
    "name": "total_displaced_households Total displaced households, from IOM DTM",
    "rank": 0.0865452,
    "dataset_id": "IOM_DTM"
  },
  {
    "variable_id": "internally_displaced_persons_new_displacement_associated_with_conflict_and_violence_number_of_cases",
    "name": " Internally displaced persons, new displacement associated with conflict and violence (number of cases)",
    "rank": 0.0865452,
    "dataset_id": "WDI"
  },
  {
    "variable_id": "internally_displaced_persons_new_displacement_associated_with_disasters_number_of_cases",
    "name": " Internally displaced persons, new displacement associated with disasters (number of cases)",
    "rank": 0.0865452,
    "dataset_id": "WDI"
  },
  {
    "variable_id": "internally_displaced_persons_total_displaced_by_conflict_and_violence_number_of_people",
    "name": " Internally displaced persons, total displaced by conflict and violence (number of people)",
    "rank": 0.0865452,
    "dataset_id": "WDI"
  },
  {
    "variable_id": "total_migrant_displaced_population",
    "name": "total_migrant_displaced_population Total migrant/displaced population, from IOM DTM",
    "rank": 0.0827456,
    "dataset_id": "IOM_DTM"
  },
  {
    "variable_id": "VUAZ-7268",
    "name": " WDI: Internally displaced persons, total displaced by conflict and violence[number of people]",
    "rank": 0.0759909,
    "dataset_id": "UAZ"
  },
  {
    "variable_id": "VUAZ-7892",
    "name": " WDI: Internally displaced persons, new displacement associated with conflict and violence[number of cases]",
    "rank": 0.0759909,
    "dataset_id": "UAZ"
  },
  {
    "variable_id": "VUAZ-7267",
    "name": " WDI: Internally displaced persons, new displacement associated with disasters[number of cases]",
    "rank": 0.0759909,
    "dataset_id": "UAZ"
  },
  {
    "variable_id": "displaced_description",
    "name": "displaced_description description of total internally displaced persons for this row",
    "rank": 0.0759909,
    "dataset_id": "UNHCR"
  },
  {
    "variable_id": "displaced",
    "name": "displaced total internally displaced persons",
    "rank": 0.0759909,
    "dataset_id": "UNHCR"
  }
]

In [51]:
response = get(f'{ISI_datamart_api_url}/metadata/variables?keyword=displacement IDP')
print(json.dumps(response.json(), indent=2))

[
  {
    "variable_id": "VUAZ-8412",
    "name": " IOM-DTM: IDP (Internally Displaced People)",
    "rank": 0.0985009,
    "dataset_id": "UAZ"
  },
  {
    "variable_id": "total_migrant_displaced_population",
    "name": "total_migrant_displaced_population Total migrant/displaced population, from IOM DTM",
    "rank": 0.0399994,
    "dataset_id": "IOM_DTM"
  }
]

In [52]:
response = get(f'{ISI_datamart_api_url}/datasets/{dataset_id}/variables/{variable_id}?country=Ethiopia')
df = pd.read_csv(StringIO(response.text))
display(HTML(df.to_html()))

### Aid Worker Security Database (AWSD)

#### Create and register dataset

In [53]:
# Define a new dataset
AWSD_dataset = {
    "name": "The Aid Worker Security Database",
    "dataset_id": "AWSD",
    "description": "The AWSD is a global compilation of reports on major security incidents involving deliberate acts of violence affecting aid workers.",
    "url": "https://aidworkersecurity.org/"
}

In [54]:
dataset_id = AWSD_dataset['dataset_id']
variable_id = aid_workers_affected_variable['variable_id']

In [ ]:
# post it to the API
td_response = post(f'{ISI_datamart_api_url}/metadata/datasets', json=AWSD_dataset)
print(json.dumps(td_response.json(), indent=2))

In [55]:
# check metadata back for AWSD dataset
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}')
print(json.dumps(response.json(), indent=2))

[
  {
    "name": "The Aid Worker Security Database",
    "description": "The AWSD is a global compilation of reports on major security incidents involving deliberate acts of violence affecting aid workers.",
    "url": "https://aidworkersecurity.org/",
    "dataset_id": "AWSD"
  }
]

#### Register variable metadata shell to dataset

In [ ]:
# register aid workers variable metadata shell to AWSD dataset
dpvar_response = post(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables', json=aid_workers_affected_variable)
print(json.dumps(dpvar_response.json(), indent=2))

In [56]:
# get list of variables in dataset
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables')
print(json.dumps(response.json()[:4], indent=2)) # printing only 4

[
  {
    "name": "Total number of aid workers affected",
    "variable_id": "total_aid_workers_affected",
    "dataset_id": "AWSD"
  }
]

In [57]:
# get metadata about this specific variable id
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables/{variable_id}')
print(json.dumps(response.json(), indent=3))

{
   "name": "Total number of aid workers affected",
   "variable_id": "total_aid_workers_affected",
   "dataset_id": "AWSD",
   "description": "The total number of aid workers affected by major security incidents.",
   "corresponds_to_property": "PAWSD-total_aid_workers_affected"
}

#### Upload data to variable

In [ ]:
# AWSD_processed_filename_ISI has the data for this variable
filepath = path.join(test_directory, AWSD_processed_filename_ISI)
url = f'{ISI_datamart_api_url}/datasets/{dataset_id}/variables/{variable_id}'
print(url)

In [ ]:
ISI_upload_data(filepath, url)

#### Query datasets, variables, and data

In [59]:
# get list of variables in dataset
dataset_id = AWSD_dataset['dataset_id']
variable_id = aid_workers_affected_variable['variable_id']
response = get(f'{ISI_datamart_api_url}/metadata/datasets/{dataset_id}/variables')
print(json.dumps(response.json()[:4], indent=2)) # printing only 4

[
  {
    "name": "Total number of aid workers affected",
    "variable_id": "total_aid_workers_affected",
    "dataset_id": "AWSD"
  }
]

In [60]:
# get data about uploaded variable
response = get(f'{ISI_datamart_api_url}/datasets/{dataset_id}/variables/{variable_id}')
df = pd.read_csv(StringIO(response.text))
display(HTML(df.to_html()))

In [61]:
# search by keyword
response = get(f'{ISI_datamart_api_url}/metadata/variables?keyword=aid workers')
print(json.dumps(response.json(), indent=2))

[
  {
    "variable_id": "total_aid_workers_affected",
    "name": "total_aid_workers_affected Total number of aid workers affected",
    "rank": 0.475157,
    "dataset_id": "AWSD"
  }
]

In [62]:
response = get(f'{ISI_datamart_api_url}/datasets/{dataset_id}/variables/{variable_id}?country=Ethiopia')
df = pd.read_csv(StringIO(response.text))
display(HTML(df.to_html()))

## NYU Datamart

### AWSD Dataset

In [63]:
filepath = path.join(test_directory, AWSD_processed_filename_NYU)
dataset = open(filepath, 'rb')

#### Dry-run of registration

Note (7/1/20): Dry-run of registration using profiler worked just fine with wm.auctus.vida-nyu.org in the past, but currently throws a 500 server error, not sure why. However, auctus.vida-nyu.org works.

In [ ]:
# dry-run of registration using profiler
response = NYU_upload_data_dryrun(NYU_datamart_api_url_profile, dataset)
response.raise_for_status()
response.json()

#### Create metadata for dataset

In [64]:
# create metadata for dataset, re-use ISI datamart preparation for this
AWSD_name= AWSD_dataset['name']
AWSD_description = (AWSD_dataset['description'])
AWSD_description

'The AWSD is a global compilation of reports on major security incidents involving deliberate acts of violence affecting aid workers.'

#### Issue POST request to Datamart to register the dataset

In [ ]:
# Issue POST request to Datamart to register the dataset
response = NYU_upload_data(NYU_datamart_api_url_upload, dataset, AWSD_name, AWSD_description)
response.raise_for_status()
dataset_id = response.json()['id']
response.json()

#### Get results from profiler

In [ ]:
# get results from profiler
response = requests.get(NYU_datamart_api_url_metadata + dataset_id)
response.raise_for_status()
response.json()

#### Query datasets

In [65]:
# Search for data via keywords
query = {
    'keywords': ['grenade', 'attack'],
}
response = requests.post(NYU_datamart_api_url_search, data={'query': json.dumps(query)})
response.raise_for_status()
results = response.json()['results']
print_results(results)

The Aid Worker Security Database
ID:  datamart.upload.1e3be939075b44309a4828940ae14a29
Score:  10.860638
-------------------

In [66]:
 # Show the full metadata record for the AWSD dataset
dataset_id = 'datamart.upload.1e3be939075b44309a4828940ae14a29'
result, = [r for r in results if r['id'] == dataset_id]
print(json.dumps(result, indent=2))

{
  "id": "datamart.upload.1e3be939075b44309a4828940ae14a29",
  "score": 10.860638,
  "metadata": {
    "filename": "AWSD_Ethiopia_processed_NYU.csv",
    "name": "The Aid Worker Security Database",
    "source": "upload",
    "description": "The AWSD is a global compilation of reports on major security incidents involving deliberate acts of violence affecting aid workers.",
    "size": 13820,
    "nb_rows": 34,
    "nb_profiled_rows": 34,
    "columns": [
      {
        "name": "timestamp",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [
          "http://schema.org/DateTime"
        ],
        "num_distinct_values": 34,
        "mean": 1357859858.8235295,
        "stddev": 204857096.0143309,
        "coverage": [
          {
            "range": {
              "gte": 875059200.0,
              "lte": 949363200.0
            }
          },
          {
            "range": {
              "gte": 1158710400.0,
              "lte": 1423612800.0
            }
          },
          {
            "range": {
              "gte": 1443398400.0,
              "lte": 1575763200.0
            }
          }
        ],
        "temporal_resolution": "day",
        "plot": {
          "type": "histogram_temporal",
          "data": [
            {
              "count": 3,
              "date_start": "1997-09-24T00:00:00",
              "date_end": "1999-12-14T00:00:00"
            },
            {
              "count": 1,
              "date_start": "1999-12-14T00:00:00",
              "date_end": "2002-03-04T00:00:00"
            },
            {
              "count": 0,
              "date_start": "2002-03-04T00:00:00",
              "date_end": "2004-05-23T00:00:00"
            },
            {
              "count": 0,
              "date_start": "2004-05-23T00:00:00",
              "date_end": "2006-08-12T00:00:00"
            },
            {
              "count": 3,
              "date_start": "2006-08-12T00:00:00",
              "date_end": "2008-10-31T00:00:00"
            },
            {
              "count": 4,
              "date_start": "2008-10-31T00:00:00",
              "date_end": "2011-01-20T00:00:00"
            },
            {
              "count": 3,
              "date_start": "2011-01-20T00:00:00",
              "date_end": "2013-04-10T00:00:00"
            },
            {
              "count": 7,
              "date_start": "2013-04-10T00:00:00",
              "date_end": "2015-06-30T00:00:00"
            },
            {
              "count": 1,
              "date_start": "2015-06-30T00:00:00",
              "date_end": "2017-09-18T00:00:00"
            },
            {
              "count": 12,
              "date_start": "2017-09-18T00:00:00",
              "date_end": "2019-12-08T00:00:00"
            }
          ]
        }
      },
      {
        "name": "Incident ID",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [
          "http://schema.org/identifier"
        ],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 34,
        "mean": 1758.1764705882354,
        "stddev": 984.4413605632096,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 4,
              "bin_start": 22.0,
              "bin_end": 320.4
            },
            {
              "count": 1,
              "bin_start": 320.4,
              "bin_end": 618.8
            },
            {
              "count": 2,
              "bin_start": 618.8,
              "bin_end": 917.1999999999999
            },
            {
              "count": 5,
              "bin_start": 917.1999999999999,
              "bin_end": 1215.6
            },
            {
              "count": 2,
              "bin_start": 1215.6,
              "bin_end": 1514.0
            },
            {
              "count": 2,
              "bin_start": 1514.0,
              "bin_end": 1812.3999999999999
            },
            {
              "count": 4,
              "bin_start": 1812.3999999999999,
              "bin_end": 2110.7999999999997
            },
            {
              "count": 2,
              "bin_start": 2110.7999999999997,
              "bin_end": 2409.2
            },
            {
              "count": 3,
              "bin_start": 2409.2,
              "bin_end": 2707.6
            },
            {
              "count": 9,
              "bin_start": 2707.6,
              "bin_end": 3006.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 22.0,
              "lte": 1102.0
            }
          },
          {
            "range": {
              "gte": 1281.0,
              "lte": 2143.0
            }
          },
          {
            "range": {
              "gte": 2623.0,
              "lte": 3006.0
            }
          }
        ]
      },
      {
        "name": "Country",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [
          "http://schema.org/AdministrativeArea",
          "http://schema.org/Enumeration"
        ],
        "num_distinct_values": 1,
        "plot": {
          "type": "histogram_categorical",
          "data": [
            {
              "bin": "Ethiopia",
              "count": 34
            }
          ]
        },
        "admin_area_level": 0
      },
      {
        "name": "Region",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [],
        "missing_values_ratio": 0.29411764705882354,
        "num_distinct_values": 10
      },
      {
        "name": "District",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [],
        "missing_values_ratio": 0.6470588235294118,
        "num_distinct_values": 8
      },
      {
        "name": "City",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [],
        "missing_values_ratio": 0.3235294117647059,
        "num_distinct_values": 18
      },
      {
        "name": "UN",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 4,
        "mean": 0.47058823529411764,
        "stddev": 0.8483650059915268,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 23,
              "bin_start": 0.0,
              "bin_end": 0.4
            },
            {
              "count": 0,
              "bin_start": 0.4,
              "bin_end": 0.8
            },
            {
              "count": 8,
              "bin_start": 0.8,
              "bin_end": 1.2000000000000002
            },
            {
              "count": 0,
              "bin_start": 1.2000000000000002,
              "bin_end": 1.6
            },
            {
              "count": 0,
              "bin_start": 1.6,
              "bin_end": 2.0
            },
            {
              "count": 2,
              "bin_start": 2.0,
              "bin_end": 2.4000000000000004
            },
            {
              "count": 0,
              "bin_start": 2.4000000000000004,
              "bin_end": 2.8000000000000003
            },
            {
              "count": 0,
              "bin_start": 2.8000000000000003,
              "bin_end": 3.2
            },
            {
              "count": 0,
              "bin_start": 3.2,
              "bin_end": 3.6
            },
            {
              "count": 1,
              "bin_start": 3.6,
              "bin_end": 4.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          },
          {
            "range": {
              "gte": 1.0,
              "lte": 2.0
            }
          }
        ]
      },
      {
        "name": "INGO",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 3,
        "mean": 0.7352941176470589,
        "stddev": 0.6991096661179242,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 14,
              "bin_start": 0.0,
              "bin_end": 0.2
            },
            {
              "count": 0,
              "bin_start": 0.2,
              "bin_end": 0.4
            },
            {
              "count": 0,
              "bin_start": 0.4,
              "bin_end": 0.6000000000000001
            },
            {
              "count": 0,
              "bin_start": 0.6000000000000001,
              "bin_end": 0.8
            },
            {
              "count": 0,
              "bin_start": 0.8,
              "bin_end": 1.0
            },
            {
              "count": 15,
              "bin_start": 1.0,
              "bin_end": 1.2000000000000002
            },
            {
              "count": 0,
              "bin_start": 1.2000000000000002,
              "bin_end": 1.4000000000000001
            },
            {
              "count": 0,
              "bin_start": 1.4000000000000001,
              "bin_end": 1.6
            },
            {
              "count": 0,
              "bin_start": 1.6,
              "bin_end": 1.8
            },
            {
              "count": 5,
              "bin_start": 1.8,
              "bin_end": 2.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          },
          {
            "range": {
              "gte": 1.0,
              "lte": 1.0
            }
          },
          {
            "range": {
              "gte": 2.0,
              "lte": 2.0
            }
          }
        ]
      },
      {
        "name": "LNGO/NRCS",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 2,
        "mean": 0.08823529411764706,
        "stddev": 0.5068731746945314,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 33,
              "bin_start": 0.0,
              "bin_end": 0.3
            },
            {
              "count": 0,
              "bin_start": 0.3,
              "bin_end": 0.6
            },
            {
              "count": 0,
              "bin_start": 0.6,
              "bin_end": 0.8999999999999999
            },
            {
              "count": 0,
              "bin_start": 0.8999999999999999,
              "bin_end": 1.2
            },
            {
              "count": 0,
              "bin_start": 1.2,
              "bin_end": 1.5
            },
            {
              "count": 0,
              "bin_start": 1.5,
              "bin_end": 1.7999999999999998
            },
            {
              "count": 0,
              "bin_start": 1.7999999999999998,
              "bin_end": 2.1
            },
            {
              "count": 0,
              "bin_start": 2.1,
              "bin_end": 2.4
            },
            {
              "count": 0,
              "bin_start": 2.4,
              "bin_end": 2.6999999999999997
            },
            {
              "count": 1,
              "bin_start": 2.6999999999999997,
              "bin_end": 3.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          }
        ]
      },
      {
        "name": "ICRC",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 3,
        "mean": 0.23529411764705882,
        "stddev": 1.0588235294117634,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 32,
              "bin_start": 0.0,
              "bin_end": 0.6
            },
            {
              "count": 0,
              "bin_start": 0.6,
              "bin_end": 1.2
            },
            {
              "count": 0,
              "bin_start": 1.2,
              "bin_end": 1.7999999999999998
            },
            {
              "count": 1,
              "bin_start": 1.7999999999999998,
              "bin_end": 2.4
            },
            {
              "count": 0,
              "bin_start": 2.4,
              "bin_end": 3.0
            },
            {
              "count": 0,
              "bin_start": 3.0,
              "bin_end": 3.5999999999999996
            },
            {
              "count": 0,
              "bin_start": 3.5999999999999996,
              "bin_end": 4.2
            },
            {
              "count": 0,
              "bin_start": 4.2,
              "bin_end": 4.8
            },
            {
              "count": 0,
              "bin_start": 4.8,
              "bin_end": 5.3999999999999995
            },
            {
              "count": 1,
              "bin_start": 5.3999999999999995,
              "bin_end": 6.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          }
        ]
      },
      {
        "name": "IFRC",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [
          "http://schema.org/Boolean"
        ],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 1,
        "mean": 0.0,
        "stddev": 0.0,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 0,
              "bin_start": -0.5,
              "bin_end": -0.4
            },
            {
              "count": 0,
              "bin_start": -0.4,
              "bin_end": -0.3
            },
            {
              "count": 0,
              "bin_start": -0.3,
              "bin_end": -0.19999999999999996
            },
            {
              "count": 0,
              "bin_start": -0.19999999999999996,
              "bin_end": -0.09999999999999998
            },
            {
              "count": 0,
              "bin_start": -0.09999999999999998,
              "bin_end": 0.0
            },
            {
              "count": 34,
              "bin_start": 0.0,
              "bin_end": 0.10000000000000009
            },
            {
              "count": 0,
              "bin_start": 0.10000000000000009,
              "bin_end": 0.20000000000000007
            },
            {
              "count": 0,
              "bin_start": 0.20000000000000007,
              "bin_end": 0.30000000000000004
            },
            {
              "count": 0,
              "bin_start": 0.30000000000000004,
              "bin_end": 0.4
            },
            {
              "count": 0,
              "bin_start": 0.4,
              "bin_end": 0.5
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          }
        ]
      },
      {
        "name": "Other",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [
          "http://schema.org/Boolean"
        ],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 1,
        "mean": 0.0,
        "stddev": 0.0,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 0,
              "bin_start": -0.5,
              "bin_end": -0.4
            },
            {
              "count": 0,
              "bin_start": -0.4,
              "bin_end": -0.3
            },
            {
              "count": 0,
              "bin_start": -0.3,
              "bin_end": -0.19999999999999996
            },
            {
              "count": 0,
              "bin_start": -0.19999999999999996,
              "bin_end": -0.09999999999999998
            },
            {
              "count": 0,
              "bin_start": -0.09999999999999998,
              "bin_end": 0.0
            },
            {
              "count": 34,
              "bin_start": 0.0,
              "bin_end": 0.10000000000000009
            },
            {
              "count": 0,
              "bin_start": 0.10000000000000009,
              "bin_end": 0.20000000000000007
            },
            {
              "count": 0,
              "bin_start": 0.20000000000000007,
              "bin_end": 0.30000000000000004
            },
            {
              "count": 0,
              "bin_start": 0.30000000000000004,
              "bin_end": 0.4
            },
            {
              "count": 0,
              "bin_start": 0.4,
              "bin_end": 0.5
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          }
        ]
      },
      {
        "name": "Nationals killed",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 4,
        "mean": 0.4411764705882353,
        "stddev": 0.7742615635934222,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 24,
              "bin_start": 0.0,
              "bin_end": 0.3
            },
            {
              "count": 0,
              "bin_start": 0.3,
              "bin_end": 0.6
            },
            {
              "count": 0,
              "bin_start": 0.6,
              "bin_end": 0.8999999999999999
            },
            {
              "count": 6,
              "bin_start": 0.8999999999999999,
              "bin_end": 1.2
            },
            {
              "count": 0,
              "bin_start": 1.2,
              "bin_end": 1.5
            },
            {
              "count": 0,
              "bin_start": 1.5,
              "bin_end": 1.7999999999999998
            },
            {
              "count": 3,
              "bin_start": 1.7999999999999998,
              "bin_end": 2.1
            },
            {
              "count": 0,
              "bin_start": 2.1,
              "bin_end": 2.4
            },
            {
              "count": 0,
              "bin_start": 2.4,
              "bin_end": 2.6999999999999997
            },
            {
              "count": 1,
              "bin_start": 2.6999999999999997,
              "bin_end": 3.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          },
          {
            "range": {
              "gte": 1.0,
              "lte": 1.0
            }
          },
          {
            "range": {
              "gte": 2.0,
              "lte": 3.0
            }
          }
        ]
      },
      {
        "name": "Nationals wounded",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 3,
        "mean": 0.5882352941176471,
        "stddev": 0.5998846486579748,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 16,
              "bin_start": 0.0,
              "bin_end": 0.2
            },
            {
              "count": 0,
              "bin_start": 0.2,
              "bin_end": 0.4
            },
            {
              "count": 0,
              "bin_start": 0.4,
              "bin_end": 0.6000000000000001
            },
            {
              "count": 0,

In [67]:
# get results from profiler (same as above)
response = requests.get(NYU_datamart_api_url_metadata + dataset_id)
response.raise_for_status()
response.json()

{'id': 'datamart.upload.1e3be939075b44309a4828940ae14a29',
 'status': 'indexed',
 'metadata': {'filename': 'AWSD_Ethiopia_processed_NYU.csv',
  'name': 'The Aid Worker Security Database',
  'source': 'upload',
  'description': 'The AWSD is a global compilation of reports on major security incidents involving deliberate acts of violence affecting aid workers.',
  'size': 13820,
  'nb_rows': 34,
  'nb_profiled_rows': 34,
  'columns': [{'name': 'timestamp',
    'structural_type': 'http://schema.org/Text',
    'semantic_types': ['http://schema.org/DateTime'],
    'num_distinct_values': 34,
    'mean': 1357859858.8235295,
    'stddev': 204857096.0143309,
    'coverage': [{'range': {'gte': 875059200.0, 'lte': 949363200.0}},
     {'range': {'gte': 1158710400.0, 'lte': 1423612800.0}},
     {'range': {'gte': 1443398400.0, 'lte': 1575763200.0}}],
    'temporal_resolution': 'day',
    'plot': {'type': 'histogram_temporal',
     'data': [{'count': 3,
       'date_start': '1997-09-24T00:00:00',
       'date_end': '1999-12-14T00:00:00'},
      {'count': 1,
       'date_start': '1999-12-14T00:00:00',
       'date_end': '2002-03-04T00:00:00'},
      {'count': 0,
       'date_start': '2002-03-04T00:00:00',
       'date_end': '2004-05-23T00:00:00'},
      {'count': 0,
       'date_start': '2004-05-23T00:00:00',
       'date_end': '2006-08-12T00:00:00'},
      {'count': 3,
       'date_start': '2006-08-12T00:00:00',
       'date_end': '2008-10-31T00:00:00'},
      {'count': 4,
       'date_start': '2008-10-31T00:00:00',
       'date_end': '2011-01-20T00:00:00'},
      {'count': 3,
       'date_start': '2011-01-20T00:00:00',
       'date_end': '2013-04-10T00:00:00'},
      {'count': 7,
       'date_start': '2013-04-10T00:00:00',
       'date_end': '2015-06-30T00:00:00'},
      {'count': 1,
       'date_start': '2015-06-30T00:00:00',
       'date_end': '2017-09-18T00:00:00'},
      {'count': 12,
       'date_start': '2017-09-18T00:00:00',
       'date_end': '2019-12-08T00:00:00'}]}},
   {'name': 'Incident ID',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': ['http://schema.org/identifier'],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 34,
    'mean': 1758.1764705882354,
    'stddev': 984.4413605632096,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 4, 'bin_start': 22.0, 'bin_end': 320.4},
      {'count': 1, 'bin_start': 320.4, 'bin_end': 618.8},
      {'count': 2, 'bin_start': 618.8, 'bin_end': 917.1999999999999},
      {'count': 5, 'bin_start': 917.1999999999999, 'bin_end': 1215.6},
      {'count': 2, 'bin_start': 1215.6, 'bin_end': 1514.0},
      {'count': 2, 'bin_start': 1514.0, 'bin_end': 1812.3999999999999},
      {'count': 4,
       'bin_start': 1812.3999999999999,
       'bin_end': 2110.7999999999997},
      {'count': 2, 'bin_start': 2110.7999999999997, 'bin_end': 2409.2},
      {'count': 3, 'bin_start': 2409.2, 'bin_end': 2707.6},
      {'count': 9, 'bin_start': 2707.6, 'bin_end': 3006.0}]},
    'coverage': [{'range': {'gte': 22.0, 'lte': 1102.0}},
     {'range': {'gte': 1281.0, 'lte': 2143.0}},
     {'range': {'gte': 2623.0, 'lte': 3006.0}}]},
   {'name': 'Country',
    'structural_type': 'http://schema.org/Text',
    'semantic_types': ['http://schema.org/AdministrativeArea',
     'http://schema.org/Enumeration'],
    'num_distinct_values': 1,
    'plot': {'type': 'histogram_categorical',
     'data': [{'bin': 'Ethiopia', 'count': 34}]},
    'admin_area_level': 0},
   {'name': 'Region',
    'structural_type': 'http://schema.org/Text',
    'semantic_types': [],
    'missing_values_ratio': 0.29411764705882354,
    'num_distinct_values': 10},
   {'name': 'District',
    'structural_type': 'http://schema.org/Text',
    'semantic_types': [],
    'missing_values_ratio': 0.6470588235294118,
    'num_distinct_values': 8},
   {'name': 'City',
    'structural_type': 'http://schema.org/Text',
    'semantic_types': [],
    'missing_values_ratio': 0.3235294117647059,
    'num_distinct_values': 18},
   {'name': 'UN',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 4,
    'mean': 0.47058823529411764,
    'stddev': 0.8483650059915268,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 23, 'bin_start': 0.0, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.8},
      {'count': 8, 'bin_start': 0.8, 'bin_end': 1.2000000000000002},
      {'count': 0, 'bin_start': 1.2000000000000002, 'bin_end': 1.6},
      {'count': 0, 'bin_start': 1.6, 'bin_end': 2.0},
      {'count': 2, 'bin_start': 2.0, 'bin_end': 2.4000000000000004},
      {'count': 0,
       'bin_start': 2.4000000000000004,
       'bin_end': 2.8000000000000003},
      {'count': 0, 'bin_start': 2.8000000000000003, 'bin_end': 3.2},
      {'count': 0, 'bin_start': 3.2, 'bin_end': 3.6},
      {'count': 1, 'bin_start': 3.6, 'bin_end': 4.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 2.0}}]},
   {'name': 'INGO',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 3,
    'mean': 0.7352941176470589,
    'stddev': 0.6991096661179242,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 14, 'bin_start': 0.0, 'bin_end': 0.2},
      {'count': 0, 'bin_start': 0.2, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.6000000000000001},
      {'count': 0, 'bin_start': 0.6000000000000001, 'bin_end': 0.8},
      {'count': 0, 'bin_start': 0.8, 'bin_end': 1.0},
      {'count': 15, 'bin_start': 1.0, 'bin_end': 1.2000000000000002},
      {'count': 0,
       'bin_start': 1.2000000000000002,
       'bin_end': 1.4000000000000001},
      {'count': 0, 'bin_start': 1.4000000000000001, 'bin_end': 1.6},
      {'count': 0, 'bin_start': 1.6, 'bin_end': 1.8},
      {'count': 5, 'bin_start': 1.8, 'bin_end': 2.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 1.0}},
     {'range': {'gte': 2.0, 'lte': 2.0}}]},
   {'name': 'LNGO/NRCS',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 2,
    'mean': 0.08823529411764706,
    'stddev': 0.5068731746945314,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 33, 'bin_start': 0.0, 'bin_end': 0.3},
      {'count': 0, 'bin_start': 0.3, 'bin_end': 0.6},
      {'count': 0, 'bin_start': 0.6, 'bin_end': 0.8999999999999999},
      {'count': 0, 'bin_start': 0.8999999999999999, 'bin_end': 1.2},
      {'count': 0, 'bin_start': 1.2, 'bin_end': 1.5},
      {'count': 0, 'bin_start': 1.5, 'bin_end': 1.7999999999999998},
      {'count': 0, 'bin_start': 1.7999999999999998, 'bin_end': 2.1},
      {'count': 0, 'bin_start': 2.1, 'bin_end': 2.4},
      {'count': 0, 'bin_start': 2.4, 'bin_end': 2.6999999999999997},
      {'count': 1, 'bin_start': 2.6999999999999997, 'bin_end': 3.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}}]},
   {'name': 'ICRC',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 3,
    'mean': 0.23529411764705882,
    'stddev': 1.0588235294117634,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 32, 'bin_start': 0.0, 'bin_end': 0.6},
      {'count': 0, 'bin_start': 0.6, 'bin_end': 1.2},
      {'count': 0, 'bin_start': 1.2, 'bin_end': 1.7999999999999998},
      {'count': 1, 'bin_start': 1.7999999999999998, 'bin_end': 2.4},
      {'count': 0, 'bin_start': 2.4, 'bin_end': 3.0},
      {'count': 0, 'bin_start': 3.0, 'bin_end': 3.5999999999999996},
      {'count': 0, 'bin_start': 3.5999999999999996, 'bin_end': 4.2},
      {'count': 0, 'bin_start': 4.2, 'bin_end': 4.8},
      {'count': 0, 'bin_start': 4.8, 'bin_end': 5.3999999999999995},
      {'count': 1, 'bin_start': 5.3999999999999995, 'bin_end': 6.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}}]},
   {'name': 'IFRC',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': ['http://schema.org/Boolean'],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 1,
    'mean': 0.0,
    'stddev': 0.0,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 0, 'bin_start': -0.5, 'bin_end': -0.4},
      {'count': 0, 'bin_start': -0.4, 'bin_end': -0.3},
      {'count': 0, 'bin_start': -0.3, 'bin_end': -0.19999999999999996},
      {'count': 0,
       'bin_start': -0.19999999999999996,
       'bin_end': -0.09999999999999998},
      {'count': 0, 'bin_start': -0.09999999999999998, 'bin_end': 0.0},
      {'count': 34, 'bin_start': 0.0, 'bin_end': 0.10000000000000009},
      {'count': 0,
       'bin_start': 0.10000000000000009,
       'bin_end': 0.20000000000000007},
      {'count': 0,
       'bin_start': 0.20000000000000007,
       'bin_end': 0.30000000000000004},
      {'count': 0, 'bin_start': 0.30000000000000004, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.5}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}}]},
   {'name': 'Other',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': ['http://schema.org/Boolean'],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 1,
    'mean': 0.0,
    'stddev': 0.0,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 0, 'bin_start': -0.5, 'bin_end': -0.4},
      {'count': 0, 'bin_start': -0.4, 'bin_end': -0.3},
      {'count': 0, 'bin_start': -0.3, 'bin_end': -0.19999999999999996},
      {'count': 0,
       'bin_start': -0.19999999999999996,
       'bin_end': -0.09999999999999998},
      {'count': 0, 'bin_start': -0.09999999999999998, 'bin_end': 0.0},
      {'count': 34, 'bin_start': 0.0, 'bin_end': 0.10000000000000009},
      {'count': 0,
       'bin_start': 0.10000000000000009,
       'bin_end': 0.20000000000000007},
      {'count': 0,
       'bin_start': 0.20000000000000007,
       'bin_end': 0.30000000000000004},
      {'count': 0, 'bin_start': 0.30000000000000004, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.5}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}}]},
   {'name': 'Nationals killed',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 4,
    'mean': 0.4411764705882353,
    'stddev': 0.7742615635934222,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 24, 'bin_start': 0.0, 'bin_end': 0.3},
      {'count': 0, 'bin_start': 0.3, 'bin_end': 0.6},
      {'count': 0, 'bin_start': 0.6, 'bin_end': 0.8999999999999999},
      {'count': 6, 'bin_start': 0.8999999999999999, 'bin_end': 1.2},
      {'count': 0, 'bin_start': 1.2, 'bin_end': 1.5},
      {'count': 0, 'bin_start': 1.5, 'bin_end': 1.7999999999999998},
      {'count': 3, 'bin_start': 1.7999999999999998, 'bin_end': 2.1},
      {'count': 0, 'bin_start': 2.1, 'bin_end': 2.4},
      {'count': 0, 'bin_start': 2.4, 'bin_end': 2.6999999999999997},
      {'count': 1, 'bin_start': 2.6999999999999997, 'bin_end': 3.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 1.0}},
     {'range': {'gte': 2.0, 'lte': 3.0}}]},
   {'name': 'Nationals wounded',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 3,
    'mean': 0.5882352941176471,
    'stddev': 0.5998846486579748,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 16, 'bin_start': 0.0, 'bin_end': 0.2},
      {'count': 0, 'bin_start': 0.2, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.6000000000000001},
      {'count': 0, 'bin_start': 0.6000000000000001, 'bin_end': 0.8},
      {'count': 0, 'bin_start': 0.8, 'bin_end': 1.0},
      {'count': 16, 'bin_start': 1.0, 'bin_end': 1.2000000000000002},
      {'count': 0,
       'bin_start': 1.2000000000000002,
       'bin_end': 1.4000000000000001},
      {'count': 0, 'bin_start': 1.4000000000000001, 'bin_end': 1.6},
      {'count': 0, 'bin_start': 1.6, 'bin_end': 1.8},
      {'count': 2, 'bin_start': 1.8, 'bin_end': 2.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 1.0}}]},
   {'name': 'Nationals kidnapped',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 3,
    'mean': 0.08823529411764706,
    'stddev': 0.373193457072045,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 32, 'bin_start': 0.0, 'bin_end': 0.2},
      {'count': 0, 'bin_start': 0.2, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.6000000000000001},
      {'count': 0, 'bin_start': 0.6000000000000001, 'bin_end': 0.8},
      {'count': 0, 'bin_start': 0.8, 'bin_end': 1.0},
      {'count': 1, 'bin_start': 1.0, 'bin_end': 1.2000000000000002},
      {'count': 0,
       'bin_start': 1.2000000000000002,
       'bin_end': 1.4000000000000001},
      {'count': 0, 'bin_start': 1.4000000000000001, 'bin_end': 1.6},
      {'count': 0, 'bin_start': 1.6, 'bin_end': 1.8},
      {'count': 1, 'bin_start': 1.8, 'bin_end': 2.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}}]},
   {'name': 'Total nationals',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 5,
    'mean': 1.1176470588235294,
    'stddev': 0.8318903308077027,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 6, 'bin_start': 0.0, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.8},
      {'count': 21, 'bin_start': 0.8, 'bin_end': 1.2000000000000002},
      {'count': 0, 'bin_start': 1.2000000000000002, 'bin_end': 1.6},
      {'count': 0, 'bin_start': 1.6, 'bin_end': 2.0},
      {'count': 5, 'bin_start': 2.0, 'bin_end': 2.4000000000000004},
      {'count': 0,
       'bin_start': 2.4000000000000004,
       'bin_end': 2.8000000000000003},
      {'count': 1, 'bin_start': 2.8000000000000003, 'bin_end': 3.2},
      {'count': 0, 'bin_start': 3.2, 'bin_end': 3.6},
      {'count': 1, 'bin_start': 3.6, 'bin_end': 4.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 1.0}},
     {'range': {'gte': 2.0, 'lte': 4.0}}]},
   {'name': 'Internationals killed',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': ['http://schema.org/Boolean'],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 1,
    'mean': 0.0,
    'stddev': 0.0,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 0, 'bin_start': -0.5, 'bin_end': -0.4},
      {'count': 0, 'bin_start': -0.4, 'bin_end': -0.3},
      {'count': 0, 'bin_start': -0.3, 'bin_end': -0.19999999999999996},
      {'count': 0,
       'bin_start': -0.19999999999999996,
       'bin_end': -0.09999999999999998},
      {'count': 0, 'bin_start': -0.09999999999999998, 'bin_end': 0.0},
      {'count': 34, 'bin_start': 0.0, 'bin_end': 0.10000000000000009},
      {'count': 0,
       'bin_start': 0.10000000000000009,
       'bin_end': 0.20000000000000007},
      {'count': 0,
       'bin_start': 0.20000000000000007,
       'bin_end': 0.30000000000000004},
      {'count': 0, 'bin_start': 0.30000000000000004, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.5}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}}]},
   {'name': 'Internationals wounded',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 3,
    'mean': 0.17647058823529413,
    'stddev': 0.4518321028158005,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 29, 'bin_start': 0.0, 'bin_end': 0.2},
      {'count': 0, 'bin_start': 0.2, 'bin_end': 0.4},
      {'count': 0, 'bin_start': 0.4, 'bin_end': 0.6000000000000001},
      {'count': 0, 'bin_start': 0.6000000000000001, 'bin_end': 0.8},
      {'count': 0, 'bin_start': 0.8, 'bin_end': 1.0},
      {'count': 4, 'bin_start': 1.0, 'bin_end': 1.2000000000000002},
      {'count': 0,
       'bin_start': 1.2000000000000002,
       'bin_end': 1.4000000000000001},
      {'count': 0, 'bin_start': 1.4000000000000001, 'bin_end': 1.6},
      {'count': 0, 'bin_start': 1.6, 'bin_end': 1.8},
      {'count': 1, 'bin_start': 1.8, 'bin_end': 2.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 1.0}}]},
   {'name': 'Internationals kidnapped',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 3,
    'mean': 0.23529411764705882,
    'stddev': 1.0306714981138358,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 31, 'bin_start': 0.0, 'bin_end': 0.6},
      {'count': 2, 'bin_start': 0.6, 'bin_end': 1.2},
      {'count': 0, 'bin_start': 1.2, 'bin_end': 1.7999999999999998},
      {'count': 0, 'bin_start': 1.7999999999999998, 'bin_end': 2.4},
      {'count': 0, 'bin_start': 2.4, 'bin_end': 3.0},
      {'count': 0, 'bin_start': 3.0, 'bin_end': 3.5999999999999996},
      {'count': 0, 'bin_start': 3.5999999999999996, 'bin_end': 4.2},
      {'count': 0, 'bin_start': 4.2, 'bin_end': 4.8},
      {'count': 0, 'bin_start': 4.8, 'bin_end': 5.3999999999999995},
      {'count': 1, 'bin_start': 5.3999999999999995, 'bin_end': 6.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}}]},
   {'name': 'Total internationals',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 4,
    'mean': 0.4117647058823529,
    'stddev': 1.0878377652298188,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 26, 'bin_start': 0.0, 'bin_end': 0.6},
      {'count': 6, 'bin_start': 0.6, 'bin_end': 1.2},
      {'count': 0, 'bin_start': 1.2, 'bin_end': 1.7999999999999998},
      {'count': 1, 'bin_start': 1.7999999999999998, 'bin_end': 2.4},
      {'count': 0, 'bin_start': 2.4, 'bin_end': 3.0},
      {'count': 0, 'bin_start': 3.0, 'bin_end': 3.5999999999999996},
      {'count': 0, 'bin_start': 3.5999999999999996, 'bin_end': 4.2},
      {'count': 0, 'bin_start': 4.2, 'bin_end': 4.8},
      {'count': 0, 'bin_start': 4.8, 'bin_end': 5.3999999999999995},
      {'count': 1, 'bin_start': 5.3999999999999995, 'bin_end': 6.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 2.0}}]},
   {'name': 'Total killed',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 4,
    'mean': 0.4411764705882353,
    'stddev': 0.7742615635934222,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 24, 'bin_start': 0.0, 'bin_end': 0.3},
      {'count': 0, 'bin_start': 0.3, 'bin_end': 0.6},
      {'count': 0, 'bin_start': 0.6, 'bin_end': 0.8999999999999999},
      {'count': 6, 'bin_start': 0.8999999999999999, 'bin_end': 1.2},
      {'count': 0, 'bin_start': 1.2, 'bin_end': 1.5},
      {'count': 0, 'bin_start': 1.5, 'bin_end': 1.7999999999999998},
      {'count': 3, 'bin_start': 1.7999999999999998, 'bin_end': 2.1},
      {'count': 0, 'bin_start': 2.1, 'bin_end': 2.4},
      {'count': 0, 'bin_start': 2.4, 'bin_end': 2.6999999999999997},
      {'count': 1, 'bin_start': 2.6999999999999997, 'bin_end': 3.0}]},
    'coverage': [{'range': {'gte': 0.0, 'lte': 0.0}},
     {'range': {'gte': 1.0, 'lte': 1.0}},
     {'range': {'gte': 2.0, 'lte': 3.0}}]},
   {'name': 'Total wounded',
    'structural_type': 'http://schema.org/Integer',
    'semantic_types': [],
    'unclean_values_ratio': 0.0,
    'num_distinct_values': 3,
    'mean': 0.7647058823529411,
    'stddev': 0.596993621476013,
    'plot': {'type': 'histogram_numerical',
     'data': [{'count': 11, 'bin_start': 0.0, 'bin_end': 0.2},

In [68]:
response = requests.get(NYU_datamart_api_url_download + result['id'])
response.raise_for_status()
# load data into pandas
pd.read_csv(io.BytesIO(response.content)).sample(5)

,timestamp,Incident ID,Country,Region,District,City,UN,INGO,LNGO/NRCS,ICRC,...,Attack context,Location,Latitude,Longitude,Actor type,Actor name,Details,Verified,Source,coordinate
8,2010-01-03T00:00:00Z,964,Ethiopia,Gode,NaN,NaN,1,0,0,0,...,Detention,Unknown,5.952698,43.552231,Host State,Ethiopian Defence Forces,1 UN national staff injured when physically as...,Yes,Focal Point,"POINT(5.9526975,43.5522312)"
19,2014-12-11T00:00:00Z,1934,Ethiopia,NaN,NaN,Addis Ababa,0,1,0,0,...,Individual attack,Public location,8.980603,38.757761,Unknown,Unknown,Three assailants armed with stones attacked an...,Yes,Focal Point,"POINT(8.980603,38.757761)"
3,2000-02-01T00:00:00Z,103,Ethiopia,NaN,NaN,NaN,0,2,0,0,...,Ambush,Unknown,9.145000,40.489673,Unknown,Unknown,1 INGO national staff killed and 1 internation...,Archived,Archived,"POINT(9.145,40.489672999999996)"
0,1997-09-24T00:00:00Z,22,Ethiopia,Ogaden,NaN,NaN,2,0,0,0,...,Individual attack,Unknown,8.530560,44.795000,Unknown,Unknown,2 UN national staffers shot dead in apparent r...,Archived,Archived,"POINT(8.530560000000001,44.795)"
22,2018-05-19T00:00:00Z,2692,Ethiopia,NaN,NaN,Gambela,1,0,0,0,...,Individual attack,Public location,8.250000,34.583333,Staff member,Not applicable,One male UN agency staff member was assualted ...,Yes,Focal Point,"POINT(8.25,34.583333)"

In [69]:
# Ask server for datasets related to this result
response = requests.post(NYU_datamart_api_url_search, data={'data_id': result['id']})
response.raise_for_status()
results_related = response.json()['results']
print_results(results_related)
# Notice the proposed augmentations (unions or joins)

Plant species (WDI)
ID:  datamart.uaz-indicators.48b28c805944526680ecca055cc47d6f
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
IOM DTM Ethiopia Dataset
ID:  datamart.upload.09c40ac0f6b34c3d81b3aa3185c30485
Score:  0.05128205128205128
Augmentation: union
Left Columns: [['timestamp'], ['Country']]
Right Columns: [['timestamp'], ['country']]
-------------------
Fixed telephone subscriptions (WDI)
ID:  datamart.uaz-indicators.54d386c7d91755689239002e9321444b
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Healthy life expectancy  at age 60 (WHO)
ID:  datamart.uaz-indicators.7f70c1cce6875c0e9e331358d615fad3
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Indirect emissions (N2O) (Crop residues) (FAO)
ID:  datamart.uaz-indicators.cb2e9d355b985c91b37f33ffece3d8ce
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Coal rents (WDI)
ID:  datamart.uaz-indicators.5b103f49f3ef533cb85c792330e5e8fb
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
People using at least basic drinking water services (WDI)
ID:  datamart.uaz-indicators.77673ac354f35a8a86ff3ee6a702b336
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Goods and services expense (WDI)
ID:  datamart.uaz-indicators.5d8e16937e145dd4b41ee9bbfeef88cd
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Debt buyback (WDI)
ID:  datamart.uaz-indicators.fe9f541ac5e95eef9b0e3cdfbb3a1868
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Account ownership at a financial institution or with a mobile-money-service provider (WDI)
ID:  datamart.uaz-indicators.e9f04bd1a0c3537d844f15944e94c780
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
IDA grants (WDI)
ID:  datamart.uaz-indicators.40bac8873aa356a6a3c9d3d981642c53
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Residues (Crop residues) (FAO)
ID:  datamart.uaz-indicators.d5e802c2e9d259a18774884e4760ccd4
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Proportion of seats held by women in national parliaments (WDI)
ID:  datamart.uaz-indicators.095d3ba510755d3d888a4d1700aac6e0
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Automated teller machines (WDI)
ID:  datamart.uaz-indicators.707b2acdf1935911af4c07d6eaccdf25
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Indirect emissions (N2O that volatilises) (Synthetic fertilizers) (FAO)
ID:  datamart.uaz-indicators.c7bb5c8c138456c7ae1c289b4648fd0e
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Indirect emissions (N2O that volatilises) (Manure on pasture) (FAO)
ID:  datamart.uaz-indicators.b7d44c335ebb5ea69bd3427ef58f5c45
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Direct emissions (N2O) (Crop residues) (FAO)
ID:  datamart.uaz-indicators.c043877d6d305c3bb6bcc87da74573ac
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
IBRD loans and IDA credits (WDI)
ID:  datamart.uaz-indicators.ef61ae989b5d5755b9f4b85f520f29c8
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Secondary income (WDI)
ID:  datamart.uaz-indicators.0557e8bbf2d95fb2b9a5b0d3a270ec99
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Adjusted savings: mineral depletion (WDI)
ID:  datamart.uaz-indicators.71cbeb9cf9ba5b9aae9d82b1119bbb7a
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Ratio of female to male labor force participation rate (WDI)
ID:  datamart.uaz-indicators.79c564b590e854d283a844b4c8b67728
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Value lost due to electrical outages (WDI)
ID:  datamart.uaz-indicators.28349cf755f35ca1b607a2bc9fd8037f
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Fertilizer consumption (WDI)
ID:  datamart.uaz-indicators.9fa5ffeefb6a58989b5d10bad3b4a41a
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Goods exports (WDI)
ID:  datamart.uaz-indicators.458eb5c8d93e5c45802ef09af437f72a
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Women making their own informed decisions regarding sexual relations (WDI)
ID:  datamart.uaz-indicators.a6dd81e344e959018e01f669d36d1a3e
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
CO2 intensity (WDI)
ID:  datamart.uaz-indicators.290669102a7a540b805e24d23a68cdc1
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
GDP per unit of energy use (WDI)
ID:  datamart.uaz-indicators.045554bd95fb5e9085ac869e9bf37a27
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Debt forgiveness grants (WDI)
ID:  datamart.uaz-indicators.5770e426c0b55c98b5382e6ca62bf929
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Time to resolve insolvency (WDI)
ID:  datamart.uaz-indicators.808a69e95427522a8bc1bb767f953d32
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Cost to export (WDI)
ID:  datamart.uaz-indicators.8149caf8062359828e67a81c99418d0c
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Healthy life expectancy  at birth (WHO)
ID:  datamart.uaz-indicators.f4c73568e16b5f3082809486fe6a3bd1
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Per 100 (FAO)
ID:  datamart.uaz-indicators.3f5c6fc03a63505996e03c2af57c45a3
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
GDP: linked series (WDI)
ID:  datamart.uaz-indicators.a39f6a67f0d85ab896ec4aa772750111
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Agriculture orientation index (FAO)
ID:  datamart.uaz-indicators.d8a6248396f057ca9052d8e1bff434b0
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Population density (WDI)
ID:  datamart.uaz-indicators.bcafb6987e2659589083fdf983173c99
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Revenue (WDI)
ID:  datamart.uaz-indicators.8da222a57fda5c5b97f373ab901c53d0
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Merchandise exports to economies in the Arab World (WDI)
ID:  datamart.uaz-indicators.9393ece7d73155ba8b214f372a449f57
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Food (WDI)
ID:  datamart.uaz-indicators.1df6fc3c2d175b3ea5cfed03423348e8
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Legislation exists on domestic violence (WDI)
ID:  datamart.uaz-indicators.17407e0789145f3bb3fc81b7236f23b5
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Logistics performance index: Quality of trade and transport-related infrastructure (WDI)
ID:  datamart.uaz-indicators.41c2f3c9448757039cef235d14228d9b
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Cost to import (WDI)
ID:  datamart.uaz-indicators.bc6cb659e66058bf9f49f5770f542951
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Share of tariff lines with international peaks (WDI)
ID:  datamart.uaz-indicators.f9e4ba71ad575febba5d9663e046dcb5
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Mortality rate attributed to unsafe water (WDI)
ID:  datamart.uaz-indicators.da94de274b3452678e70b960b8769565
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Emissions (CO2eq) (Burning biomass) (FAO)
ID:  datamart.uaz-indicators.1918402c722d535bb07976dfffc64668
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Poverty gap at $1.90 a day (WDI)
ID:  datamart.uaz-indicators.191dae667ccf55758889af1c0003da48
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Oil rents (WDI)
ID:  datamart.uaz-indicators.13de1b0ce9af57e8bedac0abcea1507c
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Logistics performance index: Efficiency of customs clearance process (WDI)
ID:  datamart.uaz-indicators.e9e0e0ac8cec57cd8067f62fe6459b20
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Net incurrence of liabilities (WDI)
ID:  datamart.uaz-indicators.16e2c40b2933582082fb9f056dc538a7
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Indirect emissions (N2O) (Manure applied) (FAO)
ID:  datamart.uaz-indicators.832b839804ec5bc8bc51f752406fa026
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------
Survival to age 65 (WDI)
ID:  datamart.uaz-indicators.67992e8bc44b57cfb444b23139695c54
Score:  1.0
Augmentation: join
Left Columns: [['Country']]
Right Columns: [['Country']]
-------------------

### IOM DTM Ethiopia Dataset

In [70]:
IOM_DTM_normalized_filename_NYU = 'IOM_DTM_R10_Ethiopia_normalized_small.csv'
filepath = path.join(test_directory, IOM_DTM_normalized_filename_NYU)
dataset = open(filepath, 'rb')

#### Dry-run of registration using profiler

Note (7/1/20): Dry-run of registration using profiler worked just fine with wm.auctus.vida-nyu.org in the past, but currently throws a 500 server error, not sure why. However, auctus.vida-nyu.org works.

In [ ]:
# dry-run of registration using profiler
response = NYU_upload_data_dryrun(NYU_datamart_api_url_profile, dataset)
response.raise_for_status()
response.json()

#### Create metadata for dataset

In [71]:
# create metadata for dataset, re-use ISI datamart preparation for this
IOM_DTM_name= "IOM DTM Ethiopia Dataset"
IOM_DTM_description = ("Ethiopia Displacement Tracking Matrix (DTM) data from the International Organization for Migration (IOM)." 
                       " Data is from March 2018")
IOM_DTM_description

'Ethiopia Displacement Tracking Matrix (DTM) data from the International Organization for Migration (IOM). Data is from March 2018'

#### Issue POST request to Datamart to register the dataset

In [ ]:
# Issue POST request to Datamart to register the dataset
response = NYU_upload_data(NYU_datamart_api_url_upload, dataset, IOM_DTM_name, IOM_DTM_description)
response.raise_for_status()
dataset_id = response.json()['id']
response.json()

#### Get results from profiler

In [ ]:
# get results from profiler
response = requests.get(NYU_datamart_api_url_metadata + dataset_id)
response.raise_for_status()
response.json()

#### Query datasets

In [72]:
# Search for data via keywords
query = {
    'keywords': ['displaced', 'youth'],
}
response = requests.post(NYU_datamart_api_url_search, data={'query': json.dumps(query)})
response.raise_for_status()
results = response.json()['results']
print_results(results)

Internally displaced persons (WDI)
ID:  datamart.uaz-indicators.3413a0b4b9595d188c32bc81f760b4de
Score:  13.922232
-------------------
Internally Displaced People (Migration Curation Experiment)
ID:  datamart.uaz-indicators.99e4d65e194f5c75a19ed889a97b56c4
Score:  13.826557
-------------------
IDP (Internally Displaced People) (IOM-DTM)
ID:  datamart.uaz-indicators.051c605b88ce5960912415a33c5b2d5a
Score:  13.129992
-------------------
Share of youth not in education (WDI)
ID:  datamart.uaz-indicators.7a122f5a47865d88a78e306a2126bab3
Score:  12.417656
-------------------
UNHCR refugee data
ID:  datamart.upload.64650334031144deb9794ed4cba6c686
Score:  11.10244
-------------------
Unemployment (WDI)
ID:  datamart.uaz-indicators.90ba2c0df017553a8ab446f1576dc55c
Score:  4.7904415
-------------------
IOM DTM Ethiopia Dataset
ID:  datamart.upload.09c40ac0f6b34c3d81b3aa3185c30485
Score:  1.0304024
-------------------

In [73]:
 # Show the full metadata record for the AWSD dataset
dataset_id = 'datamart.upload.09c40ac0f6b34c3d81b3aa3185c30485'
result, = [r for r in results if r['id'] == dataset_id]
print(json.dumps(result, indent=2))

{
  "id": "datamart.upload.09c40ac0f6b34c3d81b3aa3185c30485",
  "score": 1.0304024,
  "metadata": {
    "filename": "IOM_DTM_R10_Ethiopia_normalized_small.csv",
    "name": "IOM DTM Ethiopia Dataset",
    "source": "upload",
    "description": "Ethiopia Displacement Tracking Matrix (DTM) data from the International Organization for Migration (IOM). Data is from March 2018",
    "size": 523052,
    "nb_rows": 950,
    "nb_profiled_rows": 950,
    "columns": [
      {
        "name": "timestamp",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [
          "http://schema.org/Enumeration",
          "http://schema.org/DateTime"
        ],
        "num_distinct_values": 38,
        "mean": 1521393408.0,
        "stddev": 1001681.301990335,
        "coverage": [
          {
            "range": {
              "gte": 1520467200.0,
              "lte": 1521417600.0
            }
          },
          {
            "range": {
              "gte": 1521504000.0,
              "lte": 1522540800.0
            }
          }
        ],
        "temporal_resolution": "day",
        "plot": {
          "type": "histogram_categorical",
          "data": [
            {
              "bin": "2018-03-12T00:00:00Z",
              "count": 51
            },
            {
              "bin": "2018-03-14T00:00:00Z",
              "count": 53
            },
            {
              "bin": "2018-03-15T00:00:00Z",
              "count": 51
            },
            {
              "bin": "2018-03-16T00:00:00Z",
              "count": 48
            },
            {
              "bin": "2018-03-20T00:00:00Z",
              "count": 49
            }
          ]
        }
      },
      {
        "name": "datacollect_survey_round",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 4,
        "mean": 9.989473684210527,
        "stddev": 0.15859493866651764,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 1,
              "bin_start": 6.0,
              "bin_end": 6.4
            },
            {
              "count": 0,
              "bin_start": 6.4,
              "bin_end": 6.8
            },
            {
              "count": 0,
              "bin_start": 6.8,
              "bin_end": 7.2
            },
            {
              "count": 0,
              "bin_start": 7.2,
              "bin_end": 7.6
            },
            {
              "count": 0,
              "bin_start": 7.6,
              "bin_end": 8.0
            },
            {
              "count": 1,
              "bin_start": 8.0,
              "bin_end": 8.4
            },
            {
              "count": 0,
              "bin_start": 8.4,
              "bin_end": 8.8
            },
            {
              "count": 4,
              "bin_start": 8.8,
              "bin_end": 9.2
            },
            {
              "count": 0,
              "bin_start": 9.2,
              "bin_end": 9.6
            },
            {
              "count": 944,
              "bin_start": 9.6,
              "bin_end": 10.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 10.0,
              "lte": 10.0
            }
          }
        ]
      },
      {
        "name": "population_name",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 751,
        "mean": 1698.3536842105264,
        "stddev": 3164.546394893556,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 886,
              "bin_start": 26.0,
              "bin_end": 4895.7
            },
            {
              "count": 53,
              "bin_start": 4895.7,
              "bin_end": 9765.4
            },
            {
              "count": 4,
              "bin_start": 9765.4,
              "bin_end": 14635.099999999999
            },
            {
              "count": 2,
              "bin_start": 14635.099999999999,
              "bin_end": 19504.8
            },
            {
              "count": 1,
              "bin_start": 19504.8,
              "bin_end": 24374.5
            },
            {
              "count": 1,
              "bin_start": 24374.5,
              "bin_end": 29244.199999999997
            },
            {
              "count": 0,
              "bin_start": 29244.199999999997,
              "bin_end": 34113.9
            },
            {
              "count": 1,
              "bin_start": 34113.9,
              "bin_end": 38983.6
            },
            {
              "count": 1,
              "bin_start": 38983.6,
              "bin_end": 43853.299999999996
            },
            {
              "count": 1,
              "bin_start": 43853.299999999996,
              "bin_end": 48723.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 97.0,
              "lte": 2558.0
            }
          },
          {
            "range": {
              "gte": 3377.0,
              "lte": 9163.0
            }
          }
        ]
      },
      {
        "name": "population_description",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [
          "http://schema.org/Text"
        ],
        "plot": {
          "type": "histogram_text",
          "data": [
            {
              "bin": "total",
              "count": 950
            },
            {
              "bin": "number",
              "count": 950
            },
            {
              "bin": "of",
              "count": 950
            },
            {
              "bin": "people",
              "count": 950
            },
            {
              "bin": "at",
              "count": 950
            }
          ]
        }
      },
      {
        "name": "population_units",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [
          "http://schema.org/Enumeration"
        ],
        "num_distinct_values": 1,
        "plot": {
          "type": "histogram_categorical",
          "data": [
            {
              "bin": "Number of people",
              "count": 950
            }
          ]
        }
      },
      {
        "name": "population_displacement_reason",
        "structural_type": "http://schema.org/Text",
        "semantic_types": [
          "http://schema.org/Enumeration"
        ],
        "num_distinct_values": 7,
        "plot": {
          "type": "histogram_categorical",
          "data": [
            {
              "bin": "Conflict",
              "count": 601
            },
            {
              "bin": "Drought",
              "count": 266
            },
            {
              "bin": "Flash Flood",
              "count": 25
            },
            {
              "bin": "Other",
              "count": 35
            },
            {
              "bin": "Seasonal Flood",
              "count": 16
            }
          ]
        }
      },
      {
        "name": "population_male_infants_0-4_y",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 356,
        "mean": 164.9378947368421,
        "stddev": 319.2875512033984,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 883,
              "bin_start": 0.0,
              "bin_end": 469.6
            },
            {
              "count": 52,
              "bin_start": 469.6,
              "bin_end": 939.2
            },
            {
              "count": 9,
              "bin_start": 939.2,
              "bin_end": 1408.8000000000002
            },
            {
              "count": 2,
              "bin_start": 1408.8000000000002,
              "bin_end": 1878.4
            },
            {
              "count": 0,
              "bin_start": 1878.4,
              "bin_end": 2348.0
            },
            {
              "count": 0,
              "bin_start": 2348.0,
              "bin_end": 2817.6000000000004
            },
            {
              "count": 1,
              "bin_start": 2817.6000000000004,
              "bin_end": 3287.2000000000003
            },
            {
              "count": 0,
              "bin_start": 3287.2000000000003,
              "bin_end": 3756.8
            },
            {
              "count": 2,
              "bin_start": 3756.8,
              "bin_end": 4226.400000000001
            },
            {
              "count": 1,
              "bin_start": 4226.400000000001,
              "bin_end": 4696.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 5.0,
              "lte": 274.0
            }
          },
          {
            "range": {
              "gte": 360.0,
              "lte": 1151.0
            }
          }
        ]
      },
      {
        "name": "population_male_children_5-14_y",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 400,
        "mean": 209.0063157894737,
        "stddev": 390.0759709569478,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 885,
              "bin_start": 0.0,
              "bin_end": 606.6
            },
            {
              "count": 48,
              "bin_start": 606.6,
              "bin_end": 1213.2
            },
            {
              "count": 10,
              "bin_start": 1213.2,
              "bin_end": 1819.8000000000002
            },
            {
              "count": 1,
              "bin_start": 1819.8000000000002,
              "bin_end": 2426.4
            },
            {
              "count": 2,
              "bin_start": 2426.4,
              "bin_end": 3033.0
            },
            {
              "count": 0,
              "bin_start": 3033.0,
              "bin_end": 3639.6000000000004
            },
            {
              "count": 3,
              "bin_start": 3639.6000000000004,
              "bin_end": 4246.2
            },
            {
              "count": 0,
              "bin_start": 4246.2,
              "bin_end": 4852.8
            },
            {
              "count": 0,
              "bin_start": 4852.8,
              "bin_end": 5459.400000000001
            },
            {
              "count": 1,
              "bin_start": 5459.400000000001,
              "bin_end": 6066.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 8.0,
              "lte": 329.0
            }
          },
          {
            "range": {
              "gte": 433.0,
              "lte": 1302.0
            }
          }
        ]
      },
      {
        "name": "population_male_youth_15-17_y",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 315,
        "mean": 128.00736842105263,
        "stddev": 236.23107542899163,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 896,
              "bin_start": 0.0,
              "bin_end": 440.4
            },
            {
              "count": 43,
              "bin_start": 440.4,
              "bin_end": 880.8
            },
            {
              "count": 7,
              "bin_start": 880.8,
              "bin_end": 1321.1999999999998
            },
            {
              "count": 1,
              "bin_start": 1321.1999999999998,
              "bin_end": 1761.6
            },
            {
              "count": 1,
              "bin_start": 1761.6,
              "bin_end": 2202.0
            },
            {
              "count": 1,
              "bin_start": 2202.0,
              "bin_end": 2642.3999999999996
            },
            {
              "count": 0,
              "bin_start": 2642.3999999999996,
              "bin_end": 3082.7999999999997
            },
            {
              "count": 0,
              "bin_start": 3082.7999999999997,
              "bin_end": 3523.2
            },
            {
              "count": 0,
              "bin_start": 3523.2,
              "bin_end": 3963.6
            },
            {
              "count": 1,
              "bin_start": 3963.6,
              "bin_end": 4404.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 2.0,
              "lte": 246.0
            }
          }
        ]
      },
      {
        "name": "population_male_adults_18-59_y",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 427,
        "mean": 271.7884210526316,
        "stddev": 514.7496524603328,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 885,
              "bin_start": 8.0,
              "bin_end": 731.2
            },
            {
              "count": 50,
              "bin_start": 731.2,
              "bin_end": 1454.4
            },
            {
              "count": 8,
              "bin_start": 1454.4,
              "bin_end": 2177.6000000000004
            },
            {
              "count": 1,
              "bin_start": 2177.6000000000004,
              "bin_end": 2900.8
            },
            {
              "count": 1,
              "bin_start": 2900.8,
              "bin_end": 3624.0
            },
            {
              "count": 1,
              "bin_start": 3624.0,
              "bin_end": 4347.200000000001
            },
            {
              "count": 0,
              "bin_start": 4347.200000000001,
              "bin_end": 5070.400000000001
            },
            {
              "count": 2,
              "bin_start": 5070.400000000001,
              "bin_end": 5793.6
            },
            {
              "count": 0,
              "bin_start": 5793.6,
              "bin_end": 6516.8
            },
            {
              "count": 2,
              "bin_start": 6516.8,
              "bin_end": 7240.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 22.0,
              "lte": 419.0
            }
          },
          {
            "range": {
              "gte": 562.0,
              "lte": 1726.0
            }
          }
        ]
      },
      {
        "name": "population_male_elderly_60_+y_",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 208,
        "mean": 59.701052631578946,
        "stddev": 122.64548438893803,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 901,
              "bin_start": 0.0,
              "bin_end": 215.3
            },
            {
              "count": 37,
              "bin_start": 215.3,
              "bin_end": 430.6
            },
            {
              "count": 6,
              "bin_start": 430.6,
              "bin_end": 645.9000000000001
            },
            {
              "count": 1,
              "bin_start": 645.9000000000001,
              "bin_end": 861.2
            },
            {
              "count": 3,
              "bin_start": 861.2,
              "bin_end": 1076.5
            },
            {
              "count": 1,
              "bin_start": 1076.5,
              "bin_end": 1291.8000000000002
            },
            {
              "count": 0,
              "bin_start": 1291.8000000000002,
              "bin_end": 1507.1000000000001
            },
            {
              "count": 0,
              "bin_start": 1507.1000000000001,
              "bin_end": 1722.4
            },
            {
              "count": 0,
              "bin_start": 1722.4,
              "bin_end": 1937.7
            },
            {
              "count": 1,
              "bin_start": 1937.7,
              "bin_end": 2153.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 95.0
            }
          },
          {
            "range": {
              "gte": 123.0,
              "lte": 426.0
            }
          }
        ]
      },
      {
        "name": "population_female_infants_0-4_y",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 357,
        "mean": 161.1778947368421,
        "stddev": 311.2641540823814,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 883,
              "bin_start": 0.0,
              "bin_end": 453.2
            },
            {
              "count": 53,
              "bin_start": 453.2,
              "bin_end": 906.4
            },
            {
              "count": 8,
              "bin_start": 906.4,
              "bin_end": 1359.6
            },
            {
              "count": 2,
              "bin_start": 1359.6,
              "bin_end": 1812.8
            },
            {
              "count": 0,
              "bin_start": 1812.8,
              "bin_end": 2266.0
            },
            {
              "count": 0,
              "bin_start": 2266.0,
              "bin_end": 2719.2
            },
            {
              "count": 1,
              "bin_start": 2719.2,
              "bin_end": 3172.4
            },
            {
              "count": 1,
              "bin_start": 3172.4,
              "bin_end": 3625.6
            },
            {
              "count": 0,
              "bin_start": 3625.6,
              "bin_end": 4078.7999999999997
            },
            {
              "count": 2,
              "bin_start": 4078.7999999999997,
              "bin_end": 4532.0
            }
          ]
        },
        "coverage": [
          {
            "range": {
              "gte": 5.0,
              "lte": 262.0
            }
          },
          {
            "range": {
              "gte": 338.0,
              "lte": 1223.0
            }
          }
        ]
      },
      {
        "name": "population_female_children_5-14_y",
        "structural_type": "http://schema.org/Integer",
        "semantic_types": [],
        "unclean_values_ratio": 0.0,
        "num_distinct_values": 417,
        "mean": 218.12526315789475,
        "stddev": 399.43992644133243,
        "plot": {
          "type": "histogram_numerical",
          "data": [
            {
              "count": 857,
              "bin_start": 0.0,
              "bin_end": 528.4
            },
            {
              "count": 72,
              "bin_start": 528.4,
              "bin_end": 1056.8
            },
            {
              "count": 15,
              "bin_start": 1056.8,
              "bin_end": 1585.1999999999998
            },
            {
              "count": 0,
              "bin_start": 1585.1999999999998,
              "bin_end": 2113.6
            },
            {
              "count": 1,
              "bin_start": 2113.6,
              "bin_end": 2642.0
            },
            {
              "count": 1,
              "bin_start": 2642.0,
              "bin_end": 3170.3999999999996
            },
            {

In [74]:
response = requests.get(NYU_datamart_api_url_download + result['id'])
response.raise_for_status()
# load data into pandas
pd.read_csv(io.BytesIO(response.content)).sample(5)

,timestamp,datacollect_survey_round,population_name,population_description,population_units,population_displacement_reason,population_male_infants_0-4_y,population_male_children_5-14_y,population_male_youth_15-17_y,population_male_adults_18-59_y,...,site_main_non-drinking_water_source_available,"site_if_main_non-drinking_water_source_is_other,_specify",country,admin_1,admin_1_p-code,admin_2,admin_2_p-code,admin_3,admin_3_p-code,kebele
198,2018-03-15T00:00:00Z,10,650,Total number of people at the site,Number of people,Conflict,50,40,22,205,...,Unprotected springs,NaN,Ethiopia,Oromia,ET04,East Harerge,ET0410,Chinaksen,ET041015,Gololcha
675,2018-03-25T00:00:00Z,10,465,Total number of people at the site,Number of people,Drought,55,47,13,60,...,Surface water sources (ponds/canals/river/lake...,NaN,Ethiopia,Somali,ET05,Doolo,ET0507,Danot,ET050701,Hirsimacaf
156,2018-03-31T00:00:00Z,10,6060,Total number of people at the site,Number of people,Drought,630,1170,510,1020,...,Surface water sources (ponds/canals/river/lake...,NaN,Ethiopia,Oromia,ET04,West Guji,ET0422,Melka Soda,ET042204,Dawa Dimtu
165,2018-03-14T00:00:00Z,10,1150,Total number of people at the site,Number of people,Conflict,85,160,75,202,...,Surface water sources (ponds/canals/river/lake...,NaN,Ethiopia,Oromia,ET04,West Harerge,ET0409,Bordode,ET040919,Buri Arba
526,2018-03-16T00:00:00Z,10,8695,Total number of people at the site,Number of people,Conflict,666,777,481,1406,...,Surface water sources (ponds/canals/river/lake...,NaN,Ethiopia,Somali,ET05,Dawa,ET0510,Hudet,ET051001,Hudat 03

In [75]:
# Ask server for datasets related to this result
response = requests.post(NYU_datamart_api_url_search, data={'data_id': result['id']})
response.raise_for_status()
results_related = response.json()['results']
print_results(results_related)
# Notice the proposed augmentations (unions or joins)

The Aid Worker Security Database
ID:  datamart.upload.1e3be939075b44309a4828940ae14a29
Score:  1.0
Augmentation: join
Left Columns: [['timestamp']]
Right Columns: [['timestamp']]
-------------------
The Aid Worker Security Database
ID:  datamart.upload.1e3be939075b44309a4828940ae14a29
Score:  0.03389830508474576
Augmentation: union
Left Columns: [['country'], ['timestamp']]
Right Columns: [['Country'], ['timestamp']]
-------------------
World Food Prices
ID:  datamart.upload.9b584d2bc04e41339d520404785e8d2c
Score:  1.0
Augmentation: join
Left Columns: [['timestamp']]
Right Columns: [['date']]
-------------------
Plant species (WDI)
ID:  datamart.uaz-indicators.48b28c805944526680ecca055cc47d6f
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Fixed telephone subscriptions (WDI)
ID:  datamart.uaz-indicators.54d386c7d91755689239002e9321444b
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Healthy life expectancy  at age 60 (WHO)
ID:  datamart.uaz-indicators.7f70c1cce6875c0e9e331358d615fad3
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Coal rents (WDI)
ID:  datamart.uaz-indicators.5b103f49f3ef533cb85c792330e5e8fb
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Indirect emissions (N2O) (Crop residues) (FAO)
ID:  datamart.uaz-indicators.cb2e9d355b985c91b37f33ffece3d8ce
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
People using at least basic drinking water services (WDI)
ID:  datamart.uaz-indicators.77673ac354f35a8a86ff3ee6a702b336
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Goods and services expense (WDI)
ID:  datamart.uaz-indicators.5d8e16937e145dd4b41ee9bbfeef88cd
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Debt buyback (WDI)
ID:  datamart.uaz-indicators.fe9f541ac5e95eef9b0e3cdfbb3a1868
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Account ownership at a financial institution or with a mobile-money-service provider (WDI)
ID:  datamart.uaz-indicators.e9f04bd1a0c3537d844f15944e94c780
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
IDA grants (WDI)
ID:  datamart.uaz-indicators.40bac8873aa356a6a3c9d3d981642c53
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Proportion of seats held by women in national parliaments (WDI)
ID:  datamart.uaz-indicators.095d3ba510755d3d888a4d1700aac6e0
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Residues (Crop residues) (FAO)
ID:  datamart.uaz-indicators.d5e802c2e9d259a18774884e4760ccd4
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Automated teller machines (WDI)
ID:  datamart.uaz-indicators.707b2acdf1935911af4c07d6eaccdf25
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Indirect emissions (N2O that volatilises) (Synthetic fertilizers) (FAO)
ID:  datamart.uaz-indicators.c7bb5c8c138456c7ae1c289b4648fd0e
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Indirect emissions (N2O that volatilises) (Manure on pasture) (FAO)
ID:  datamart.uaz-indicators.b7d44c335ebb5ea69bd3427ef58f5c45
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Direct emissions (N2O) (Crop residues) (FAO)
ID:  datamart.uaz-indicators.c043877d6d305c3bb6bcc87da74573ac
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
IBRD loans and IDA credits (WDI)
ID:  datamart.uaz-indicators.ef61ae989b5d5755b9f4b85f520f29c8
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Secondary income (WDI)
ID:  datamart.uaz-indicators.0557e8bbf2d95fb2b9a5b0d3a270ec99
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Adjusted savings: mineral depletion (WDI)
ID:  datamart.uaz-indicators.71cbeb9cf9ba5b9aae9d82b1119bbb7a
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Ratio of female to male labor force participation rate (WDI)
ID:  datamart.uaz-indicators.79c564b590e854d283a844b4c8b67728
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Value lost due to electrical outages (WDI)
ID:  datamart.uaz-indicators.28349cf755f35ca1b607a2bc9fd8037f
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Fertilizer consumption (WDI)
ID:  datamart.uaz-indicators.9fa5ffeefb6a58989b5d10bad3b4a41a
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Goods exports (WDI)
ID:  datamart.uaz-indicators.458eb5c8d93e5c45802ef09af437f72a
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Women making their own informed decisions regarding sexual relations (WDI)
ID:  datamart.uaz-indicators.a6dd81e344e959018e01f669d36d1a3e
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
CO2 intensity (WDI)
ID:  datamart.uaz-indicators.290669102a7a540b805e24d23a68cdc1
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
GDP per unit of energy use (WDI)
ID:  datamart.uaz-indicators.045554bd95fb5e9085ac869e9bf37a27
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Debt forgiveness grants (WDI)
ID:  datamart.uaz-indicators.5770e426c0b55c98b5382e6ca62bf929
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Time to resolve insolvency (WDI)
ID:  datamart.uaz-indicators.808a69e95427522a8bc1bb767f953d32
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Healthy life expectancy  at birth (WHO)
ID:  datamart.uaz-indicators.f4c73568e16b5f3082809486fe6a3bd1
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Cost to export (WDI)
ID:  datamart.uaz-indicators.8149caf8062359828e67a81c99418d0c
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Per 100 (FAO)
ID:  datamart.uaz-indicators.3f5c6fc03a63505996e03c2af57c45a3
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
GDP: linked series (WDI)
ID:  datamart.uaz-indicators.a39f6a67f0d85ab896ec4aa772750111
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Agriculture orientation index (FAO)
ID:  datamart.uaz-indicators.d8a6248396f057ca9052d8e1bff434b0
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Population density (WDI)
ID:  datamart.uaz-indicators.bcafb6987e2659589083fdf983173c99
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Revenue (WDI)
ID:  datamart.uaz-indicators.8da222a57fda5c5b97f373ab901c53d0
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Merchandise exports to economies in the Arab World (WDI)
ID:  datamart.uaz-indicators.9393ece7d73155ba8b214f372a449f57
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Legislation exists on domestic violence (WDI)
ID:  datamart.uaz-indicators.17407e0789145f3bb3fc81b7236f23b5
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Food (WDI)
ID:  datamart.uaz-indicators.1df6fc3c2d175b3ea5cfed03423348e8
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Logistics performance index: Quality of trade and transport-related infrastructure (WDI)
ID:  datamart.uaz-indicators.41c2f3c9448757039cef235d14228d9b
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Cost to import (WDI)
ID:  datamart.uaz-indicators.bc6cb659e66058bf9f49f5770f542951
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Share of tariff lines with international peaks (WDI)
ID:  datamart.uaz-indicators.f9e4ba71ad575febba5d9663e046dcb5
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Mortality rate attributed to unsafe water (WDI)
ID:  datamart.uaz-indicators.da94de274b3452678e70b960b8769565
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Emissions (CO2eq) (Burning biomass) (FAO)
ID:  datamart.uaz-indicators.1918402c722d535bb07976dfffc64668
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Poverty gap at $1.90 a day (WDI)
ID:  datamart.uaz-indicators.191dae667ccf55758889af1c0003da48
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Oil rents (WDI)
ID:  datamart.uaz-indicators.13de1b0ce9af57e8bedac0abcea1507c
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Logistics performance index: Efficiency of customs clearance process (WDI)
ID:  datamart.uaz-indicators.e9e0e0ac8cec57cd8067f62fe6459b20
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------
Net incurrence of liabilities (WDI)
ID:  datamart.uaz-indicators.16e2c40b2933582082fb9f056dc538a7
Score:  1.0
Augmentation: join
Left Columns: [['country']]
Right Columns: [['Country']]
-------------------